<div class="pt-[105px] md:pt-[135px] lg:pt-[165px] xl:pt-[190px] bg-gray">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="text-center">
            <img src="assets/images/error.png" class="inline" alt="error-image">
            <h3 class="font-bold text-black text-[20px] md:text-[22px] lg:text-[25px] leading-[1.3] mb-15 mt-20 md:mt-40">
                Oops! That page can't be found
            </h3>
            <p class="text-[14px] md:text-[15px] lg:text-[16px] leading-[1.8] text-secondary mx-auto max-w-[540px]">
                The page you are looking for might have been removed had its name changed or is temporarily unavailable.
            </p>
            <a routerLink="/" class="inline-block text-[13px] md:text-[15px] lg:text-[16px] xl:text-[18px] text-black border-black border font-semibold py-[7px] px-20 rounded-full transition-all hover:bg-black hover:text-white mt-20 md:mt-25">
                Back to Home
            </a>
        </div>
    </div>
</div>