<!-- Page Title -->
<div class="pt-[105px] md:pt-[135px] lg:pt-[165px] xl:pt-[105px] pb-60 md:pb-80 lg:pb-100 xl:pb-60 bg-gray">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-25">
            <div class="self-center">
                <div class="xl:pl-40 2xl:pl-[98px] xl:mt-30">
                    <span class="block text-primary text-[15px] md:text-[16px] lg:text-[20px] lg:text-[20px] font-semibold">
                        Pricing Plan
                    </span>
                    <h1 class="xl:max-w-[535px] font-bold text-black text-[25px] md:text-[35px] lg:text-[48px] xl:text-[57px] leading-[1.25] mt-[12px]">
                        Only Pay for What You Use
                    </h1>
                </div>
            </div>
            <div class="md:text-right self-center 3xl:pr-65">
                <img src="assets/images/cashback.png" class="inline" alt="cashback-image">
            </div>
        </div>
    </div>
</div>

<app-subscription-comparison></app-subscription-comparison>

<app-pricing-features></app-pricing-features>