<!-- Page Title -->
<div class="pt-[105px] md:pt-[135px] lg:pt-[145px] xl:pt-[165px] bg-gray">
    <div class="px-10 sm:px-0 container mx-auto 2xl:max-w-[1920px]">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-25">
            <div class="self-center 2xl:max-w-[630px] 2xl:ml-[170px] 3xl:ml-[250px] lg:-mt-50 xl:-mt-60">
                <span class="block text-primary text-[15px] md:text-[16px] lg:text-[20px] lg:text-[20px] font-semibold">
                    Blog
                </span>
                <h1 class="font-bold text-black text-[25px] md:text-[35px] lg:text-[48px] xl:text-[57px] leading-[1.25] mt-[12px]">
                    Our Latest Blog and Banking News
                </h1>
            </div>
            <div class="md:text-right self-center">
                <img src="assets/images/hand-shake.jpg" class="inline lg:rounded-tl-lg lg:border-t-[10px] lg:border-l-[10px] border-white" alt="hand-shake-image">
            </div>
        </div>
    </div>
</div>

<!-- Blog -->
<div class="py-60 md:py-80 lg:py-100 xl:py-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-25">
            <div class="lg:col-span-2 xl:pr-25 2xl:pr-[55px]">
                <div class="mb-25 md:mb-40 lg:mb-50 xl:mb-70 relative">
                    <a routerLink="/blog-details" class="block rounded-[10px]">
                        <img src="assets/images/blogs/blog1.jpg" class="inline rounded-[10px]" alt="blog-image">
                    </a>
                    <span class="inline-block absolute top-15 left-15 md:top-30 md:left-30 px-20 md:px-[22px] py-[7px] md:py-10 rounded-[5px] bg-warning text-black text-[14px] md:text-[15px] lg:text-[16px]">
                        News
                    </span>
                    <ul class="mt-15 md:mt-20 lg:mt-25 xl:mt-30">
                        <li class="text-[14px] md:text-[15px] lg:text-[16px] text-black inline-block mr-25 last:mr-0 relative before:-right-[13px] before:top-[4.5px] before:absolute before:w-[1px] before:h-[15px] before:bg-black last:before:hidden">
                            12 August 2024
                        </li>
                        <li class="text-[14px] md:text-[15px] lg:text-[16px] text-black inline-block mr-25 last:mr-0 relative before:-right-[13px] before:top-[4.5px] before:absolute before:w-[1px] before:h-[15px] before:bg-black last:before:hidden">
                            <a routerLink="/blog-details">
                                No Comment
                            </a>
                        </li>
                    </ul>
                    <h3 class="font-semibold text-black text-[20px] md:text-[24px] lg:text-[28px] xl:text-[32px] leading-[1.3] mt-10 xl:mt-15">
                        <a routerLink="/blog-details">
                            Unlocking Secure Payments With a Payment Gateway
                        </a>
                    </h3>
                </div>
                <div class="mb-25 md:mb-40 lg:mb-50 xl:mb-70 relative">
                    <a routerLink="/blog-details" class="block rounded-[10px]">
                        <img src="assets/images/blogs/blog2.jpg" class="inline rounded-[10px]" alt="blog-image">
                    </a>
                    <span class="inline-block absolute top-15 left-15 md:top-30 md:left-30 px-20 md:px-[22px] py-[7px] md:py-10 rounded-[5px] bg-warning text-black text-[14px] md:text-[15px] lg:text-[16px]">
                        Insight
                    </span>
                    <ul class="mt-15 md:mt-20 lg:mt-25 xl:mt-30">
                        <li class="text-[14px] md:text-[15px] lg:text-[16px] text-black inline-block mr-25 last:mr-0 relative before:-right-[13px] before:top-[4.5px] before:absolute before:w-[1px] before:h-[15px] before:bg-black last:before:hidden">
                            11 August 2024
                        </li>
                        <li class="text-[14px] md:text-[15px] lg:text-[16px] text-black inline-block mr-25 last:mr-0 relative before:-right-[13px] before:top-[4.5px] before:absolute before:w-[1px] before:h-[15px] before:bg-black last:before:hidden">
                            <a routerLink="/blog-details">
                                1 Comment
                            </a>
                        </li>
                    </ul>
                    <h3 class="font-semibold text-black text-[20px] md:text-[24px] lg:text-[28px] xl:text-[32px] leading-[1.3] mt-10 xl:mt-15">
                        <a routerLink="/blog-details">
                            The Evolution of Payment Gateway Apps Innovations
                        </a>
                    </h3>
                </div>
                <div class="mb-25 md:mb-40 lg:mb-50 xl:mb-70 relative">
                    <a routerLink="/blog-details" class="block rounded-[10px]">
                        <img src="assets/images/blogs/blog3.jpg" class="inline rounded-[10px]" alt="blog-image">
                    </a>
                    <span class="inline-block absolute top-15 left-15 md:top-30 md:left-30 px-20 md:px-[22px] py-[7px] md:py-10 rounded-[5px] bg-warning text-black text-[14px] md:text-[15px] lg:text-[16px]">
                        Tips & Trick
                    </span>
                    <ul class="mt-15 md:mt-20 lg:mt-25 xl:mt-30">
                        <li class="text-[14px] md:text-[15px] lg:text-[16px] text-black inline-block mr-25 last:mr-0 relative before:-right-[13px] before:top-[4.5px] before:absolute before:w-[1px] before:h-[15px] before:bg-black last:before:hidden">
                            10 August 2024
                        </li>
                        <li class="text-[14px] md:text-[15px] lg:text-[16px] text-black inline-block mr-25 last:mr-0 relative before:-right-[13px] before:top-[4.5px] before:absolute before:w-[1px] before:h-[15px] before:bg-black last:before:hidden">
                            <a routerLink="/blog-details">
                                No Comment
                            </a>
                        </li>
                    </ul>
                    <h3 class="font-semibold text-black text-[20px] md:text-[24px] lg:text-[28px] xl:text-[32px] leading-[1.3] mt-10 xl:mt-15">
                        <a routerLink="/blog-details">
                            The Role of Payment Gateway Apps in E-Commerce Success
                        </a>
                    </h3>
                </div>
                <div class="mb-25 md:mb-40 lg:mb-50 xl:mb-70 relative">
                    <a routerLink="/blog-details" class="block rounded-[10px]">
                        <img src="assets/images/blogs/blog4.jpg" class="inline rounded-[10px]" alt="blog-image">
                    </a>
                    <span class="inline-block absolute top-15 left-15 md:top-30 md:left-30 px-20 md:px-[22px] py-[7px] md:py-10 rounded-[5px] bg-warning text-black text-[14px] md:text-[15px] lg:text-[16px]">
                        Tips & Trick
                    </span>
                    <ul class="mt-15 md:mt-20 lg:mt-25 xl:mt-30">
                        <li class="text-[14px] md:text-[15px] lg:text-[16px] text-black inline-block mr-25 last:mr-0 relative before:-right-[13px] before:top-[4.5px] before:absolute before:w-[1px] before:h-[15px] before:bg-black last:before:hidden">
                            09 August 2024
                        </li>
                        <li class="text-[14px] md:text-[15px] lg:text-[16px] text-black inline-block mr-25 last:mr-0 relative before:-right-[13px] before:top-[4.5px] before:absolute before:w-[1px] before:h-[15px] before:bg-black last:before:hidden">
                            <a routerLink="/blog-details">
                                No Comment
                            </a>
                        </li>
                    </ul>
                    <h3 class="font-semibold text-black text-[20px] md:text-[24px] lg:text-[28px] xl:text-[32px] leading-[1.3] mt-10 xl:mt-15">
                        <a routerLink="/blog-details">
                            Exploring The Features of a Reliable Payment Gateway App
                        </a>
                    </h3>
                </div>
                <div class="space-x-15 xl:mt-[95px]">
                    <a routerLink="/blog" class="w-[45px] h-[45px] md:w-50 md:h-50 leading-[43px] md:leading-[47px] text-[30px] rounded-full bg-gray transition-all inline-block text-center hover:bg-primary hover:text-white">
                        <i class="ri-arrow-left-s-line -ml-[3px]"></i>
                    </a>
                    <a routerLink="/blog" class="w-[45px] h-[45px] md:w-50 md:h-50 leading-[43px] md:leading-[47px] text-[30px] rounded-full bg-gray transition-all inline-block text-center hover:bg-primary hover:text-white">
                        <i class="ri-arrow-right-s-line ml-[3px]"></i>
                    </a>
                </div>
            </div>
            <div class="3xl:pl-[14px]">
                <div class="mb-25 md:mb-40 lg:mb-50 xl:mb-70 last:mb-0">
                    <form class="relative">
                        <input type="text" placeholder="Search" class="block h-55 md:h-60 lg:h-80 w-full tet-[14px] md:text-[15px] lg:text-[16px] border border-[#000] rounded-[5px] pl-20 md:pl-25 text-black placeholder:text-secondary outline-0">
                        <button type="submit" class="absolute bg-primary text-white w-55 md:w-60 lg:w-80 text-[25px] md:text-[30px] top-0 bottom-0 right-0 rounded-[5px] transition-all hover:bg-black hover:text-white">
                            <i class="ri-search-line"></i>
                        </button>
                    </form>
                </div>
                <div class="mb-25 md:mb-40 lg:mb-50 xl:mb-70 last:mb-0">
                    <h3 class="inline-block text-black font-semibold mb-25 md:mb-30 text-[20px] leading-[1.3] relative before:left-0 before:right-0 before:bottom-0 before:absolute before:h-[1px] before:bg-black">
                        Blog Categories
                    </h3>
                    <ul>
                        <li class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary relative pl-20 mb-[13px] last:mb-0 before:w-10 before:h-10 before:rounded-full before:absolute before:bg-primary before:left-0 before:top-1/2 before:-translate-y-2/4">
                            <a routerLink=".blog">
                                Insight
                            </a>
                        </li>
                        <li class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary relative pl-20 mb-[13px] last:mb-0 before:w-10 before:h-10 before:rounded-full before:absolute before:bg-primary before:left-0 before:top-1/2 before:-translate-y-2/4">
                            <a routerLink=".blog">
                                News
                            </a>
                        </li>
                        <li class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary relative pl-20 mb-[13px] last:mb-0 before:w-10 before:h-10 before:rounded-full before:absolute before:bg-primary before:left-0 before:top-1/2 before:-translate-y-2/4">
                            <a routerLink=".blog">
                                Trips & Trick
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mb-25 md:mb-40 lg:mb-50 xl:mb-70 last:mb-0">
                    <h3 class="inline-block text-black font-semibold mb-25 md:mb-30 text-[20px] leading-[1.3] relative before:left-0 before:right-0 before:bottom-0 before:absolute before:h-[1px] before:bg-black">
                        Recent Posts
                    </h3>
                    <div class="mb-30 last:mb-0 relative pl-[120px] md:pl-[123px] sm:pt-[14px] md:pt-[9px]">
                        <a routerLink="/blog-details" class="inline-block left-0 top-0 absolute w-[102px]">
                            <img src="assets/images/blogs/blog5.jpg" class="inline rounded-[10px]" alt="blog-image">
                        </a>
                        <span class="block leading-none text-[14px] md:text-[15px] lg:text-[16px] text-secondary">
                            12 August 2024
                        </span>
                        <h4 class="text-black sm:max-w-[320px] text-[14px] md:text-[15px] lg:text-[16px] font-semibold mt-10 leading-[1.6]">
                            <a routerLink="/blog-details">
                                Exploring The Features of a Reliable Payment Gateway App
                            </a>
                        </h4>
                    </div>
                    <div class="mb-30 last:mb-0 relative pl-[120px] md:pl-[123px] sm:pt-[14px] md:pt-[9px]">
                        <a routerLink="/blog-details" class="inline-block left-0 top-0 absolute w-[102px]">
                            <img src="assets/images/blogs/blog6.jpg" class="inline rounded-[10px]" alt="blog-image">
                        </a>
                        <span class="block leading-none text-[14px] md:text-[15px] lg:text-[16px] text-secondary">
                            11 August 2024
                        </span>
                        <h4 class="text-black sm:max-w-[320px] text-[14px] md:text-[15px] lg:text-[16px] font-semibold mt-10 leading-[1.6]">
                            <a routerLink="/blog-details">
                                Unlocking Secure Payments With a Payment Gateway
                            </a>
                        </h4>
                    </div>
                    <div class="mb-30 last:mb-0 relative pl-[120px] md:pl-[123px] sm:pt-[14px] md:pt-[9px]">
                        <a routerLink="/blog-details" class="inline-block left-0 top-0 absolute w-[102px]">
                            <img src="assets/images/blogs/blog7.jpg" class="inline rounded-[10px]" alt="blog-image">
                        </a>
                        <span class="block leading-none text-[14px] md:text-[15px] lg:text-[16px] text-secondary">
                            10 August 2024
                        </span>
                        <h4 class="text-black sm:max-w-[320px] text-[14px] md:text-[15px] lg:text-[16px] font-semibold mt-10 leading-[1.6]">
                            <a routerLink="/blog-details">
                                The Role of Payment Gateway Apps in E-Commerce Success
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="mb-25 md:mb-40 lg:mb-50 xl:mb-70 last:mb-0">
                    <h3 class="inline-block text-black font-semibold mb-25 md:mb-[35px] text-[20px] leading-[1.3] relative before:left-0 before:right-0 before:bottom-0 before:absolute before:h-[1px] before:bg-black">
                        Tags
                    </h3>
                    <div class="space-x-10 md:space-x-15">
                        <a routerLink="/blog" class="text-[14px] md:text-[15px] lg:text-[16px] px-15 md:px-20 py-[6px] md:py-[8px] bg-gray transition-all hover:bg-primary hover:text-white rounded-[4px]">
                            Banking
                        </a>
                        <a routerLink="/blog" class="text-[14px] md:text-[15px] lg:text-[16px] px-15 md:px-20 py-[6px] md:py-[8px] bg-gray transition-all hover:bg-primary hover:text-white rounded-[4px]">
                            Card
                        </a>
                        <a routerLink="/blog" class="text-[14px] md:text-[15px] lg:text-[16px] px-15 md:px-20 py-[6px] md:py-[8px] bg-gray transition-all hover:bg-primary hover:text-white rounded-[4px]">
                            Trips & Trick
                        </a>
                    </div>
                </div>
                <div class="mb-25 md:mb-40 lg:mb-50 xl:mb-70 last:mb-0">
                    <div class="bg-primary px-20 pb-20 md:px-40 md:pb-40 rounded-[10px]">
                        <div class="text-right -mb-20">
                            <img src="assets/images/cards/card7.png" class="inline" alt="card-image">
                        </div>
                        <h3 class="text-warning font-semibold text-[20px] md:text-[22px] lg:text-[24px] md:max-w-[227px] leading-[1.4] mb-10 md:mb-[12px]">
                            Tap Into Our Expert Community
                        </h3>
                        <p class="text-[14px] md:text-[15px] lg:text-[16px] text-white leading-[1.7] md:max-w-[376px]">
                            Free 1:1 coaching with experts inmarketing, finance, growth.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>