<!-- Page Title -->
<div class="pt-[105px] md:pt-[135px] lg:pt-[165px] xl:pt-[174px] bg-gray relative z-1 before:left-0 before:right-0 before:bottom-0 before:-z-1 before:absolute before:bg-white before:h-70 md:before:h-40 xl:before:h-50 2xl:before:h-[125px]">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-25">
            <div class="col-span-2 lg:mt-25 xl:mt-[45px] 2xl:mt-[65px]">
                <div class="xl:pl-40 2xl:pl-[98px] 2xl:pr-60">
                    <span class="block text-primary text-[15px] md:text-[16px] lg:text-[20px] lg:text-[20px] font-semibold">
                        Our Services
                    </span>
                    <h1 class="font-bold text-black text-[25px] md:text-[35px] lg:text-[48px] xl:text-[57px] leading-[1.25] mt-10">
                        Experience the Best Card Services for Your Needs
                    </h1>
                </div>
            </div>
            <div class="2xl:-ml-40">
                <img src="assets/images/services.png" alt="services-image">
            </div>
        </div>
    </div>
</div>

<app-services></app-services>

<app-subscribe></app-subscribe>