<div class="py-60 md:py-80 lg:py-100 bg-gray relative z-1 before:right-0 before:top-0 before:bottom-0 before:-z-1 before:bg-primary before:absolute before:w-[50%] before:rounded-l-lg before:hidden lg:before:block">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2">
            <div class="self-center lg:pr-20 2xl:pr-0">
                <h2 class="text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] text-black font-bold md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug -mt-5 md:-mt-[8px] mb-[12px] md:mb-15 lg:mb-[18px] 2xl:max-w-[500px]">
                    Turn Your Purchases into Savings.
                </h2>
                <p class="text-[14px] md:text-[15px] lg:text-[16px] leading-[1.8] text-secondary mb-15 2xl:max-w-[600px] 3xl:max-w-[650px]">
                    Simply use your Arad debit card at select retailers, and your rewards will be automatically deposited into your designated “Arad Extra Savings” account. You can even add your Arad card to the digital wallet on your Apple or Google phone to tap and pay where available.
                </p>
                <p class="text-[14px] md:text-[15px] lg:text-[16px] leading-[1.8] text-secondary mb-15 2xl:max-w-[600px] 3xl:max-w-[650px]">
                    Standard data charges may apply. Apple Pay is a registered trademark of Apple Inc. Google Pay is a registered trademark of Google LLC.
                </p>
                <a routerLink="/send-money" class="inline-block text-[15px] md:text-[16px] lg:text-[18px] leading-none text-black bg-warning rounded-full font-semibold mt-5 md:mt-10 lg:mt-20 px-30 py-15 transition-all hover:text-white hover:bg-primary hover:text-black">
                    Get started
                </a>
            </div>
            <div class="self-center text-center mt-25 lg:mt-0 lg:pl-20 xl:pl-50 2xl:pl-70">
                <img src="assets/images/savings.png" class="inline" alt="savings-image">
            </div>
        </div>
    </div>
</div>