<div class="pb-60 md:pb-80 lg:pb-100 xl:pb-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <h2 class="text-center font-bold text-[25px] md:text-[35px] lg:text-[48px] xl:text-[57px] leading-tight -mt-5 md:-mt-[8px] lg:-mt-10 xl:-mt-15 mb-30 md:mb-40 lg:mb-50 -tracking-[.28px] md:-tracking-[1.28px] lg:-tracking-[1.80px] xl:-tracking-[2.28px] text-black">
            How to send money
        </h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-25">
            <div class="bg-gray rounded-lg p-20 md:p-30 xl:p-40 2xl:p-50">
                <div class="number leaidng-none font-bold text-[30px] md:text-[35px] lg:text-[50px] mb-[7px] lg:mb-55 -mt-[12px] md:-mt-[12px] lg:-mt-15">
                    01
                </div>
                <h3 class="font-bold text-black text-[20px] md:text-[22px] md:text-[24px] mb-[9px] md:mb-10 lg:mb-15">
                    Register for free
                </h3>
                <p class="text-secondary leading-[1.8] text-[14px] md:text-[15px] lg:text-[16px]">
                    Here are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour.
                </p>
            </div>
            <div class="bg-gray rounded-lg p-20 md:p-30 xl:p-40 2xl:p-50">
                <div class="number leaidng-none font-bold text-[30px] md:text-[35px] lg:text-[50px] mb-[7px] lg:mb-55 -mt-[12px] md:-mt-[12px] lg:-mt-15">
                    02
                </div>
                <h3 class="font-bold text-black text-[20px] md:text-[22px] md:text-[24px] mb-[9px] md:mb-10 lg:mb-15">
                    Choose an amount to send
                </h3>
                <p class="text-secondary leading-[1.8] text-[14px] md:text-[15px] lg:text-[16px]">
                    Here are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour.
                </p>
            </div>
            <div class="bg-gray rounded-lg p-20 md:p-30 xl:p-40 2xl:p-50">
                <div class="number leaidng-none font-bold text-[30px] md:text-[35px] lg:text-[50px] mb-[7px] lg:mb-55 -mt-[12px] md:-mt-[12px] lg:-mt-15">
                    03
                </div>
                <h3 class="font-bold text-black text-[20px] md:text-[22px] md:text-[24px] mb-[9px] md:mb-10 lg:mb-15">
                    Add recipient’s bank details
                </h3>
                <p class="text-secondary leading-[1.8] text-[14px] md:text-[15px] lg:text-[16px]">
                    Here are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour.
                </p>
            </div>
            <div class="bg-gray rounded-lg p-20 md:p-30 xl:p-40 2xl:p-50">
                <div class="number leaidng-none font-bold text-[30px] md:text-[35px] lg:text-[50px] mb-[7px] lg:mb-55 -mt-[12px] md:-mt-[12px] lg:-mt-15">
                    04
                </div>
                <h3 class="font-bold text-black text-[20px] md:text-[22px] md:text-[24px] mb-[9px] md:mb-10 lg:mb-15">
                    Verify your identity
                </h3>
                <p class="text-secondary leading-[1.8] text-[14px] md:text-[15px] lg:text-[16px]">
                    Here are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour.
                </p>
            </div>
            <div class="bg-gray rounded-lg p-20 md:p-30 xl:p-40 2xl:p-50">
                <div class="number leaidng-none font-bold text-[30px] md:text-[35px] lg:text-[50px] mb-[7px] lg:mb-55 -mt-[12px] md:-mt-[12px] lg:-mt-15">
                    05
                </div>
                <h3 class="font-bold text-black text-[20px] md:text-[22px] md:text-[24px] mb-[9px] md:mb-10 lg:mb-15">
                    Pay for your transfer
                </h3>
                <p class="text-secondary leading-[1.8] text-[14px] md:text-[15px] lg:text-[16px]">
                    Here are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour.
                </p>
            </div>
            <div class="bg-gray rounded-lg p-20 md:p-30 xl:p-40 2xl:p-50">
                <div class="number leaidng-none font-bold text-[30px] md:text-[35px] lg:text-[50px] mb-[7px] lg:mb-55 -mt-[12px] md:-mt-[12px] lg:-mt-15">
                    06
                </div>
                <h3 class="font-bold text-black text-[20px] md:text-[22px] md:text-[24px] mb-[9px] md:mb-10 lg:mb-15">
                    That’s it
                </h3>
                <p class="text-secondary leading-[1.8] text-[14px] md:text-[15px] lg:text-[16px]">
                    Here are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour.
                </p>
            </div>
        </div>
    </div>
</div>