<div class="pb-60 md:pb-80 lg:pb-100 xl:pb-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <h2 class="text-black font-bold text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] lg:max-w-[915px] md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug -mt-5 md:-mt-[8px] lg:-mt-[10px] xl:-mt-[12px] mb-30 md:mb-40 lg:mb-50 xl:mb-60">
            Your Cash Management Accounts Unlock More than Digital Banking
        </h2>
        <div class="xl:pl-[200px] 2xl:pl-[280px] 3xl:pl-[365px]">
            <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-25 lg:gap-30">
                <div class="bg-[#eff3eb] rounded-lg p-20 md:p-25 lg:pt-25 lg:pb-40 lg:px-30">
                    <img src="assets/images/digital-banking/db1.jpg" class="inline rounded-lg" alt="db-image">
                    <h3 class="text-black font-semibold text-[20px] md:text-[22px] lg:text-[24px] mb-5 lg:mb-[8px] mt-[12px] md:mt-15 lg:mt-20">
                        Investor Network
                    </h3>
                    <p class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary leading-[1.6]">
                        Connect with top investors and mentors and access growth capital to propel your business forward.
                    </p>
                </div>
                <div class="bg-[#eff3eb] rounded-lg p-20 md:p-25 lg:pt-25 lg:pb-40 lg:px-30">
                    <img src="assets/images/digital-banking/db2.jpg" class="inline rounded-lg" alt="db-image">
                    <h3 class="text-black font-semibold text-[20px] md:text-[22px] lg:text-[24px] mb-5 lg:mb-[8px] mt-[12px] md:mt-15 lg:mt-20">
                        Advisory Services
                    </h3>
                    <p class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary leading-[1.6]">
                        Connect with top investors and mentors and access growth capital to propel your business forward.
                    </p>
                </div>
                <div class="bg-[#eff3eb] rounded-lg p-20 md:p-25 lg:pt-25 lg:pb-40 lg:px-30">
                    <img src="assets/images/digital-banking/db3.jpg" class="inline rounded-lg" alt="db-image">
                    <h3 class="text-black font-semibold text-[20px] md:text-[22px] lg:text-[24px] mb-5 lg:mb-[8px] mt-[12px] md:mt-15 lg:mt-20">
                        Partner Network
                    </h3>
                    <p class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary leading-[1.6]">
                        Connect with top investors and mentors and access growth capital to propel your business forward.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>