<div class="py-60 md:py-80 lg:py-100 xl:py-130 bg-gray">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid sm:grid-cols-2 gap-25 md:gap-30">
            <!-- Feature 1 -->
            <div class="p-20 md:p-30 lg:p-40 bg-white rounded-md relative">
                <h3
                    class="text-[20px] md:text-[22px] lg:text-[24px] text-black font-bold md:max-w-[209px] tex-black mb-[15px] md:mb-[20px] lg:mb-[175px] leading-tight md:leading-6 lg:leading-7 xl:leading-8"
                >
                    More Cards, More Control
                </h3>
                <a
                    routerLink="/about"
                    class="inline-block text-[13px] md:text-[15px] lg:text-[16px] xl:text-[18px] text-black border-black border font-semibold py-[7px] px-20 rounded-full transition-all hover:bg-black hover:text-white"
                >
                    View More
                </a>
                <img
                    src="assets/images/features/feature1.png"
                    class="mt-25 lg:mt-0 lg:absolute lg:right-[50px] xl:right-[70px] 2xl:right-[110px] lg:top-1/2 lg:-translate-y-2/4 w-[150px] h-[150px]"
                    alt="feature-image"
                />
            </div>
            <!-- Feature 2 -->
            <div class="p-20 md:p-30 lg:p-40 bg-white rounded-md relative">
                <h3
                    class="text-[20px] md:text-[22px] lg:text-[24px] text-black font-bold md:max-w-[209px] tex-black mb-[15px] md:mb-[20px] lg:mb-[175px] leading-tight md:leading-6 lg:leading-7 xl:leading-8"
                >
                    Centralize Your Finances
                </h3>
                <a
                    routerLink="/about"
                    class="inline-block text-[13px] md:text-[15px] lg:text-[16px] xl:text-[18px] text-black border-black border font-semibold py-[7px] px-20 rounded-full transition-all hover:bg-black hover:text-white"
                >
                    View More
                </a>
                <img
                    src="assets/images/features/feature2.jpg"
                    class="mt-25 lg:mt-0 lg:absolute lg:right-[50px] xl:right-[70px] 2xl:right-[110px] lg:top-1/2 lg:-translate-y-2/4 w-[150px] h-[150px]"
                    alt="feature-image"
                />
            </div>
        </div>
        <div
            class="p-20 md:p-30 lg:p-40 bg-white rounded-md mt-25 md:mt-30 mx-auto max-w-[1005px]"
        >
            <h3
                class="text-[20px] md:text-[22px] lg:text-[24px] text-black font-bold lg:max-w-[200px] tex-black leading-tight md:leading-6 lg:leading-7 xl:leading-8"
            >
                FDIC Coverage Up To
            </h3>
            <div
                class="transparent-text text-[70px] md:text-[120px] lg:text-[180px] xl:text-[220px] font-bold leading-none xl:text-right xl:mb-65 mt-10 xl:mr-50 md:-tracking-[5px] lg:-tracking-[8px] xl:-tracking-[11px]"
            >
                $256K
            </div>
        </div>
    </div>
</div>
