<div
    class="pt-[105px] md:pt-[135px] lg:pt-[165px] xl:pt-[220px] bg-gray relative z-1 before:left-0 before:right-0 before:bottom-0 before:-z-1 before:absolute before:bg-white before:h-80"
>
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="lg:max-w-[650px] lg:ml-50 xl:max-w-[745px] xl:ml-[93px]">
            <span
                class="block text-primary text-[15px] md:text-[16px] lg:text-[20px] lg:text-[20px] font-semibold"
            >
                About Us
            </span>
            <h1
                class="font-bold text-black text-[25px] md:text-[35px] lg:text-[48px] xl:text-[57px] leading-[1.3] mt-[12px]"
            >
                Transforming Mobile Banking for Today's Digital Needs
            </h1>
        </div>
        <div class="mt-50 md:mt-60 grid grid-cols-1 lg:grid-cols-3 gap-25">
            <div class="lg:col-span-2 self-center order-2 lg:order-1">
                <img
                    src="assets/images/about.jpg"
                    class="rounded-lg"
                    alt="about-image"
                />
            </div>
            <div
                class="self-center relative 2xl:-top-[45px] xl:pl-5 order-1 lg:order-2"
            >
                <h2
                    class="text-black font-bold text-[25px] md:text-[35px] lg:text-[38px] xl:text-[40px] mb-10 xl:mb-15 -mt-5 md:-mt-0"
                >
                    Our Mission
                </h2>
                <p
                    class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary leading-[1.8] mb-15 last:mb-0"
                >
                    In the rapidly evolving digital landscape, m-banking is more
                    than just convenience—it’s about empowering our customers
                    with seamless, secure, and innovative financial solutions.
                </p>
                <p
                    class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary leading-[1.8] mb-15 last:mb-0"
                >
                    At M-Bank, we are committed to delivering cutting-edge
                    mobile banking services that meet the diverse needs of our
                    clients, ensuring they stay connected and in control of
                    their finances wherever they are.
                </p>
            </div>
        </div>
    </div>
</div>

<app-business-needs></app-business-needs>

<app-our-commitment></app-our-commitment>

<app-team></app-team>

<app-partners></app-partners>

<app-collecting-payments></app-collecting-payments>

<app-subscribe></app-subscribe>
