<!-- Default Section -->
<div
    class="pt-60 md:pt-80 lg:pt-100 xl:pt-130 bg-gray"
    [ngClass]="{ hidden: router.url === '/index-2' }"
>
    <div class="px-10 sm:px-0 container mx-auto">
        <h2
            class="text-black text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] font-bold lg:mx-auto lg:max-w-[780px] text-center md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug -mt-5 md:-mt-10 lg:-mt-15 mb-30 md:mb-40 lg:mb-50"
        >
            Popular Countries Our Customers Send Money
        </h2>
        <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 2xl:grid-cols-6 gap-25 lg:gap-30"
        >
            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img
                        src="assets/images/countries/argentina.svg"
                        class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="argentina"
                    />
                    <a
                        routerLink="/send-money"
                        class="self-center text-black text-[18px] 2xl:text-[20px] inline-block"
                    >
                        Argentina
                    </a>
                </div>
            </div>
            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img
                        src="assets/images/countries/austria.svg"
                        class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="austria"
                    />
                    <a
                        routerLink="/send-money"
                        class="self-center text-black text-[18px] 2xl:text-[20px] inline-block"
                    >
                        Austria
                    </a>
                </div>
            </div>
            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img
                        src="assets/images/countries/belgium.svg"
                        class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="belgium"
                    />
                    <a
                        routerLink="/send-money"
                        class="self-center text-black text-[18px] 2xl:text-[20px] inline-block"
                    >
                        Belgium
                    </a>
                </div>
            </div>
            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img
                        src="assets/images/countries/brazil.svg"
                        class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="brazil"
                    />
                    <a
                        routerLink="/send-money"
                        class="self-center text-black text-[18px] 2xl:text-[20px] inline-block"
                    >
                        Brazil
                    </a>
                </div>
            </div>
            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img
                        src="assets/images/countries/bulgaria.svg"
                        class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="bulgaria"
                    />
                    <a
                        routerLink="/send-money"
                        class="self-center text-black text-[18px] 2xl:text-[20px] inline-block"
                    >
                        Bulgaria
                    </a>
                </div>
            </div>
            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img
                        src="assets/images/countries/canada.svg"
                        class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="canada"
                    />
                    <a
                        routerLink="/send-money"
                        class="self-center text-black text-[18px] 2xl:text-[20px] inline-block"
                    >
                        Canada
                    </a>
                </div>
            </div>
            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img
                        src="assets/images/countries/chile.svg"
                        class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="chile"
                    />
                    <a
                        routerLink="/send-money"
                        class="self-center text-black text-[18px] 2xl:text-[20px] inline-block"
                    >
                        Chile
                    </a>
                </div>
            </div>

            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img
                        src="assets/images/countries/croatia.svg"
                        class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="croatia"
                    />
                    <a
                        routerLink="/send-money"
                        class="self-center text-black text-[18px] 2xl:text-[20px] inline-block"
                    >
                        Croatia
                    </a>
                </div>
            </div>
            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img
                        src="assets/images/countries/denmark.svg"
                        class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="denmark"
                    />
                    <a
                        routerLink="/send-money"
                        class="self-center text-black text-[18px] 2xl:text-[20px] inline-block"
                    >
                        Denmark
                    </a>
                </div>
            </div>

            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img
                        src="assets/images/countries/estonia.svg"
                        class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="estonia"
                    />
                    <a
                        routerLink="/send-money"
                        class="self-center text-black text-[18px] 2xl:text-[20px] inline-block"
                    >
                        Estonia
                    </a>
                </div>
            </div>
            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img
                        src="assets/images/countries/fiji.svg"
                        class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="fiji"
                    />
                    <a
                        routerLink="/send-money"
                        class="self-center text-black text-[18px] 2xl:text-[20px] inline-block"
                    >
                        Fiji
                    </a>
                </div>
            </div>
            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img
                        src="assets/images/countries/ireland.svg"
                        class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="ireland"
                    />
                    <a
                        routerLink="/send-money"
                        class="self-center text-black text-[18px] 2xl:text-[20px] inline-block"
                    >
                        Ireland
                    </a>
                </div>
            </div>
            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img
                        src="assets/images/countries/italy.svg"
                        class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="italy"
                    />
                    <a
                        routerLink="/send-money"
                        class="self-center text-black text-[18px] 2xl:text-[20px] inline-block"
                    >
                        Italy
                    </a>
                </div>
            </div>

            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img
                        src="assets/images/countries/latvia.svg"
                        class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="latvia"
                    />
                    <a
                        routerLink="/send-money"
                        class="self-center text-black text-[18px] 2xl:text-[20px] inline-block"
                    >
                        Latvia
                    </a>
                </div>
            </div>

            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img
                        src="assets/images/countries/malta.svg"
                        class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="malta"
                    />
                    <a
                        routerLink="/send-money"
                        class="self-center text-black text-[18px] 2xl:text-[20px] inline-block"
                    >
                        Malta
                    </a>
                </div>
            </div>

            <div
                class="text-center mt-25 sm:mt-[35px] md:mt-40 lg:mt-[45px] xl:mt-60"
            >
                <a
                    routerLink="/send-money"
                    class="inline-block text-[13px] md:text-[14px] lg:text-[15px] text-black bg-warning border-warning border font-semibold py-[12px] px-30 rounded-full transition-all hover:bg-primary hover:text-white hover:border-primary"
                >
                    View All Country
                </a>
            </div>
        </div>
    </div>
</div>
