<!-- Page Title -->
<div class="pt-[105px] md:pt-[135px] lg:pt-[165px] xl:pt-[185px] bg-gray">
    <div class="px-10 sm:px-0 container mx-auto 2xl:max-w-[1920px]">
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-25">
            <div class="2xl:max-w-[630px] 2xl:ml-[170px] 3xl:ml-[250px] xl:-mt-30 2xl:mt-5 3xl:mt-50">
                <span class="block text-primary text-[15px] md:text-[16px] lg:text-[20px] lg:text-[20px] font-semibold">
                    FAQ
                </span>
                <h1 class="font-bold text-black text-[25px] md:text-[35px] lg:text-[48px] xl:text-[57px] leading-[1.25] mt-[12px]">
                    Frequently Asked Questions
                </h1>
            </div>
            <div class="md:text-right">
                <img src="assets/images/cards/card6.png" class="inline" alt="card-image">
            </div>
        </div>
    </div>
</div>

<!-- FAQ -->
<div class="py-60 md:py-80 lg:py-100 xl:py-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-25">
            <div class="self-center">
                <img src="assets/images/faq1.jpg" class="rounded-lg md:rounded-[30px] xl:rounded-[55px]" alt="faq-image">
            </div>
            <div class="self-center 2xl:pl-60">
                <h2 class="text-black font-bold text-[25px] md:text-[28px] lg:text-[32px] relative inline-block leading-[1.3] before:absolute before:left-0 before:right-0 before:bottom-[.5px] before:h-[2px] before:bg-black mb-30 md:mb-40 lg:mb-50">
                    General questions
                </h2>
                <div class="accordion">
                    <div class="accordion-item relative before:left-15 md:before:left-20 before:top-0 before:absolute before:w-[1px] before:bg-[#d1d1d1] before:h-full mb-25 md:mb-40 last:mb-0">
                        <div class="accordion-header font-semibold text-[16px] md:text-[18px] leading-[1.2] md:leading-none relative pl-40 md:pl-[55px] cursor-pointer" (click)="toggleSection(0)" [ngClass]="{ 'open': isSectionOpen(0) }">
                            <div class="icon absolute left-0 bg-[#d0d6cc] w-30 h-30 md:w-40 md:h-40 rounded-full text-center leading-[30px] md:leading-[39px] top-1/2 -translate-y-2/4">
                                <i class="ri-add-line"></i>
                            </div>
                            Is it safe to use a payment gateway app?
                        </div>
                        <div class="accordion-content mt-15 md:mt-20 pl-40 md:pl-[55px]" [ngClass]="{ 'open': isSectionOpen(0) }">
                            <p class="text-[14px] md:text-[15px] lg:text-[16px] leading-[1.8] text-secondary">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item relative before:left-15 md:before:left-20 before:top-0 before:absolute before:w-[1px] before:bg-[#d1d1d1] before:h-full mb-25 md:mb-40 last:mb-0">
                        <div class="accordion-header font-semibold text-[16px] md:text-[18px] leading-[1.2] md:leading-none relative pl-40 md:pl-[55px] cursor-pointer" (click)="toggleSection(1)" [ngClass]="{ 'open': isSectionOpen(1) }">
                            <div class="icon absolute left-0 bg-[#d0d6cc] w-30 h-30 md:w-40 md:h-40 rounded-full text-center leading-[30px] md:leading-[39px] top-1/2 -translate-y-2/4">
                                <i class="ri-add-line"></i>
                            </div>
                            How long does setup take?
                        </div>
                        <div class="accordion-content mt-20 pl-40 md:pl-[55px]" [ngClass]="{ 'open': isSectionOpen(1) }">
                            <p class="text-[14px] md:text-[15px] lg:text-[16px] leading-[1.8] text-secondary">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item relative before:left-15 md:before:left-20 before:top-0 before:absolute before:w-[1px] before:bg-[#d1d1d1] before:h-full mb-25 md:mb-40 last:mb-0">
                        <div class="accordion-header font-semibold text-[16px] md:text-[18px] leading-[1.2] md:leading-none relative pl-40 md:pl-[55px] cursor-pointer" (click)="toggleSection(2)" [ngClass]="{ 'open': isSectionOpen(2) }">
                            <div class="icon absolute left-0 bg-[#d0d6cc] w-30 h-30 md:w-40 md:h-40 rounded-full text-center leading-[30px] md:leading-[39px] top-1/2 -translate-y-2/4">
                                <i class="ri-add-line"></i>
                            </div>
                            How does a payment gateway app work?
                        </div>
                        <div class="accordion-content mt-20 pl-40 md:pl-[55px]" [ngClass]="{ 'open': isSectionOpen(2) }">
                            <p class="text-[14px] md:text-[15px] lg:text-[16px] leading-[1.8] text-secondary">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item relative before:left-15 md:before:left-20 before:top-0 before:absolute before:w-[1px] before:bg-[#d1d1d1] before:h-full mb-25 md:mb-40 last:mb-0">
                        <div class="accordion-header font-semibold text-[16px] md:text-[18px] leading-[1.2] md:leading-none relative pl-40 md:pl-[55px] cursor-pointer" (click)="toggleSection(3)" [ngClass]="{ 'open': isSectionOpen(3) }">
                            <div class="icon absolute left-0 bg-[#d0d6cc] w-30 h-30 md:w-40 md:h-40 rounded-full text-center leading-[30px] md:leading-[39px] top-1/2 -translate-y-2/4">
                                <i class="ri-add-line"></i>
                            </div>
                            What customer support is available?
                        </div>
                        <div class="accordion-content mt-20 pl-40 md:pl-[55px]" [ngClass]="{ 'open': isSectionOpen(3) }">
                            <p class="text-[14px] md:text-[15px] lg:text-[16px] leading-[1.8] text-secondary">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Question -->
<div class="bg-primary bg-faq bg-cover bg-center bg-no-repeat py-60 md:py-80 lg:py-100 xl:py-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <h2 class="font-bold text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] text-white -mt-5 md:-mt-10 lg:-mt-[12px] md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug mb-10 lg:mb-15">
            Still Have Questions?
        </h2>
        <p class="text-white text-[15px] md:text-[16px] lg:text-[18px] xl:text-[20px] leading-[1.8]">
            Experience the success of the 2,000+ people growing with Arad.
        </p>
        <div class="mt-[22px] md:mt-[27px] lg:mt-30 xl:mt-[34px]">
            <a routerLink="/help" class="inline-block text-white font-semibold text-[14px] md:text-[16px] lg:text-[18px] xl:text-[20px] border border-[#204d64] rounded-full px-30 py-[12px] md:px-40 md:py-[14px] lg:px-40 xl:px-50 lg:py-15 xl:py-[18px] transition-all hover:bg-white hover:border-white hover:text-primary">
                Learn more
            </a>
            <a routerLink="/send-money" class="ml-10 md:ml-20 lg:ml-25 xl:ml-30 inline-block text-black font-semibold text-[14px] md:text-[16px] lg:text-[18px] xl:text-[20px] border border-warning bg-warning rounded-full px-30 py-[12px] md:px-40 md:py-[14px] lg:px-40 xl:px-50 lg:py-15 xl:py-[18px] transition-all hover:bg-white hover:border-white hover:text-primary">
                Get started
            </a>
        </div>
    </div>
</div>

<!-- FAQ -->
<div class="pt-60 md:pt-80 lg:pt-100 xl:pt-130 2xl:pt-0 pb-60 md:pb-80 lg:pb-100 xl:pb-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-25">
            <div class="self-center 2xl:pr-60">
                <h2 class="text-black font-bold text-[25px] md:text-[28px] lg:text-[32px] relative inline-block leading-[1.3] before:absolute before:left-0 before:right-0 before:bottom-[.5px] before:h-[2px] before:bg-black mb-30 md:mb-40 lg:mb-50">
                    Payment questions
                </h2>
                <div class="accordion">
                    <div class="accordion-item relative before:left-15 md:before:left-20 before:top-0 before:absolute before:w-[1px] before:bg-[#d1d1d1] before:h-full mb-25 md:mb-40 last:mb-0">
                        <div class="accordion-header font-semibold text-[16px] md:text-[18px] leading-[1.2] md:leading-none relative pl-40 md:pl-[55px] cursor-pointer" (click)="toggleSection(0)" [ngClass]="{ 'open': isSectionOpen(0) }">
                            <div class="icon absolute left-0 bg-[#d0d6cc] w-30 h-30 md:w-40 md:h-40 rounded-full text-center leading-[30px] md:leading-[39px] top-1/2 -translate-y-2/4">
                                <i class="ri-add-line"></i>
                            </div>
                            Is it safe to use a payment gateway app?
                        </div>
                        <div class="accordion-content mt-15 md:mt-20 pl-40 md:pl-[55px]" [ngClass]="{ 'open': isSectionOpen(0) }">
                            <p class="text-[14px] md:text-[15px] lg:text-[16px] leading-[1.8] text-secondary">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item relative before:left-15 md:before:left-20 before:top-0 before:absolute before:w-[1px] before:bg-[#d1d1d1] before:h-full mb-25 md:mb-40 last:mb-0">
                        <div class="accordion-header font-semibold text-[16px] md:text-[18px] leading-[1.2] md:leading-none relative pl-40 md:pl-[55px] cursor-pointer" (click)="toggleSection(1)" [ngClass]="{ 'open': isSectionOpen(1) }">
                            <div class="icon absolute left-0 bg-[#d0d6cc] w-30 h-30 md:w-40 md:h-40 rounded-full text-center leading-[30px] md:leading-[39px] top-1/2 -translate-y-2/4">
                                <i class="ri-add-line"></i>
                            </div>
                            How long does setup take?
                        </div>
                        <div class="accordion-content mt-20 pl-40 md:pl-[55px]" [ngClass]="{ 'open': isSectionOpen(1) }">
                            <p class="text-[14px] md:text-[15px] lg:text-[16px] leading-[1.8] text-secondary">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item relative before:left-15 md:before:left-20 before:top-0 before:absolute before:w-[1px] before:bg-[#d1d1d1] before:h-full mb-25 md:mb-40 last:mb-0">
                        <div class="accordion-header font-semibold text-[16px] md:text-[18px] leading-[1.2] md:leading-none relative pl-40 md:pl-[55px] cursor-pointer" (click)="toggleSection(2)" [ngClass]="{ 'open': isSectionOpen(2) }">
                            <div class="icon absolute left-0 bg-[#d0d6cc] w-30 h-30 md:w-40 md:h-40 rounded-full text-center leading-[30px] md:leading-[39px] top-1/2 -translate-y-2/4">
                                <i class="ri-add-line"></i>
                            </div>
                            How does a payment gateway app work?
                        </div>
                        <div class="accordion-content mt-20 pl-40 md:pl-[55px]" [ngClass]="{ 'open': isSectionOpen(2) }">
                            <p class="text-[14px] md:text-[15px] lg:text-[16px] leading-[1.8] text-secondary">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item relative before:left-15 md:before:left-20 before:top-0 before:absolute before:w-[1px] before:bg-[#d1d1d1] before:h-full mb-25 md:mb-40 last:mb-0">
                        <div class="accordion-header font-semibold text-[16px] md:text-[18px] leading-[1.2] md:leading-none relative pl-40 md:pl-[55px] cursor-pointer" (click)="toggleSection(3)" [ngClass]="{ 'open': isSectionOpen(3) }">
                            <div class="icon absolute left-0 bg-[#d0d6cc] w-30 h-30 md:w-40 md:h-40 rounded-full text-center leading-[30px] md:leading-[39px] top-1/2 -translate-y-2/4">
                                <i class="ri-add-line"></i>
                            </div>
                            What customer support is available?
                        </div>
                        <div class="accordion-content mt-20 pl-40 md:pl-[55px]" [ngClass]="{ 'open': isSectionOpen(3) }">
                            <p class="text-[14px] md:text-[15px] lg:text-[16px] leading-[1.8] text-secondary">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="self-center 2xl:-mt-50 3xl:-mt-150">
                <img src="assets/images/faq2.jpg" class="rounded-lg md:rounded-[30px] xl:rounded-[55px]" alt="faq-image">
            </div>
        </div>
    </div>
</div>