<!-- Page Title -->
<div class="pt-[105px] md:pt-[135px] lg:pt-[150px] xl:pt-[188px] bg-gray">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-25">
            <div class="">
                <div class="xl:pl-40 2xl:pl-[98px] 2xl:mt-10 3xl:mt-[45px]">
                    <span class="block text-primary text-[15px] md:text-[16px] lg:text-[20px] lg:text-[20px] font-semibold">
                        Send money
                    </span>
                    <h1 class="xl:max-w-[540px] font-bold text-black text-[25px] md:text-[35px] lg:text-[48px] xl:text-[57px] leading-[1.25] mt-[12px]">
                        International money transfers
                    </h1>
                </div>
            </div>
            <div class="text-center xl:pl-[95px] 2xl:pl-[105px]">
                <img src="assets/images/girl-with-card.png" class="inline" alt="girl-with-card-image">
            </div>
        </div>
    </div>
</div>

<app-money-calculator></app-money-calculator>

<app-subscription-comparison></app-subscription-comparison>

<app-how-it-works></app-how-it-works>