<div class="py-60 md:py-80 lg:py-100 xl:py-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <h2 class="font-bold text-black text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug md:max-w-[430px] lg:max-w-[630px] -mt-5 md:-mt-10 lg:-mt-15 mb-30 md:mb-40 lg:mb-50">
            How to get the card for online payment
        </h2>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-25 md:gap-[35px] xl:gap-[45px]">
            <div>
                <img src="assets/images/online-payment/op1.jpg" class="rounded-lg" alt="online-payment-image">
                <div class="mt-15 md:mt-20 lg:mt-25 xl:mt-30 xl:px-20">
                    <h3 class="text-[19px] md:text-[22px] lg:text-[24px] font-semibold mb-[8px] lg:mb-[14px] leading-[1.3]">
                        Download & Register App
                    </h3>
                    <p class="text-[14px] md:text-[15px] lg:text-[16px] xl:text-[18px] text-secondary leading-[1.7]">
                        From local IBANs to transfers, direct debits and cards: all you need to pay and get paid.
                    </p>
                </div>
            </div>
            <div>
                <img src="assets/images/online-payment/op2.jpg" class="rounded-lg" alt="online-payment-image">
                <div class="mt-15 md:mt-20 lg:mt-25 xl:mt-30 xl:px-20">
                    <h3 class="text-[19px] md:text-[22px] lg:text-[24px] font-semibold mb-[8px] lg:mb-[14px] leading-[1.3]">
                        Personal Information & Form Submit
                    </h3>
                    <p class="text-[14px] md:text-[15px] lg:text-[16px] xl:text-[18px] text-secondary leading-[1.7]">
                        From local IBANs to transfers, direct debits and cards: all you need to pay and get paid.
                    </p>
                </div>
            </div>
            <div>
                <img src="assets/images/online-payment/op3.jpg" class="rounded-lg" alt="online-payment-image">
                <div class="mt-15 md:mt-20 lg:mt-25 xl:mt-30 xl:px-20">
                    <h3 class="text-[19px] md:text-[22px] lg:text-[24px] font-semibold mb-[8px] lg:mb-[14px] leading-[1.3]">
                        Approved & Get Digital Card
                    </h3>
                    <p class="text-[14px] md:text-[15px] lg:text-[16px] xl:text-[18px] text-secondary leading-[1.7]">
                        From local IBANs to transfers, direct debits and cards: all you need to pay and get paid.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>