<div class="bg-primary py-60 md:py-80 lg:py-0">
    <div
        class="px-10 sm:px-0 mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[100%] 3xl:max-w-[1920px] relative"
    >
        <div class="grid grid-cols-1 gap-25 lg:gap-0 lg:grid-cols-2">
            <div class="self-center">
                <div
                    class="2xl:ml-auto 2xl:max-w-[660px] 3xl:max-w-[810px] lg:pr-15 3xl:pr-[140px]"
                >
                    <span
                        class="block text-[15px] md:text-[17px] lg:text-[18px] xl:text-[20px] font-semibold text-white mb-10 md:mb-15 2xl:mb-20"
                    >
                        Empowering Your Banking Experience
                    </span>
                    <h2
                        class="text-white text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] font-bold md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug mb-15 md:mb-20"
                    >
                        Seamless Mobile Banking Solutions Tailored for Your
                        Needs
                    </h2>
                    <p
                        class="lg:max-w-[520px] text-[15px] md:text-[16px] lg:text-[18px] xl:text-[20px] text-[#dfdfdf] leading-[1.8]"
                    >
                        At M-Bank, we are dedicated to simplifying your
                        financial transactions and enhancing accessibility with
                        our state-of-the-art mobile banking services.
                    </p>
                    <a
                        routerLink="/contact"
                        class="inline-block text-[13px] md:text-[14px] lg:text-[15px] text-white border-[#204d64] border font-semibold py-[12px] px-30 rounded-full transition-all hover:bg-white hover:text-black hover:border-white mt-20 md:mt-25 xl:mt-30 2xl:mt-40 3xl:mt-50"
                    >
                        Get in touch
                    </a>
                </div>
            </div>
            <div class="self-center">
                <img
                    src="assets/images/women1.jpg"
                    alt="women-with-card-image"
                />
            </div>
        </div>
    </div>
</div>
