<!-- Page Title -->
<div class="pt-[105px] md:pt-[135px] lg:pt-[130px] xl:pt-[130px] bg-gray">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 xl:grid-cols-3 gap-25">
            <div class="md:col-span-2">
                <div class="xl:pl-40 2xl:pl-[98px] 2xl:mt-[45px] 3xl:mt-80">
                    <span class="block text-primary text-[15px] md:text-[16px] lg:text-[20px] lg:text-[20px] font-semibold">
                        Blog Details
                    </span>
                    <h1 class="xl:max-w-[830px] font-bold text-black text-[25px] md:text-[35px] lg:text-[48px] xl:text-[57px] 2xl:text-[52px] 3xl:text-[57px] leading-[1.25] mt-[12px]">
                        Why You Should Hire a Lawyer to Prepare Your Privacy Policy
                    </h1>
                </div>
            </div>
            <div class="text-center xl:-ml-100">
                <img src="assets/images/cards/card8.png" class="inline" alt="card-image">
            </div>
        </div>
    </div>
</div>

<!-- Blog Details -->
<div class="py-60 md:py-80 lg:py-100 xl:py-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-25">
            <div class="lg:col-span-2 xl:pr-25 2xl:pr-[55px]">
                <div class="relative">
                    <img src="assets/images/blogs/blog1.jpg" class="rounded-[10px]" alt="blog-image">
                    <span class="inline-block absolute top-15 left-15 md:top-30 md:left-30 px-20 md:px-[22px] py-[7px] md:py-10 rounded-[5px] bg-warning text-black text-[14px] md:text-[15px] lg:text-[16px]">
                        News
                    </span>
                    <ul class="mt-15 md:mt-20 lg:mt-25 xl:mt-30">
                        <li class="text-[14px] md:text-[15px] lg:text-[16px] text-black inline-block mr-25 last:mr-0 relative before:-right-[13px] before:top-[4.5px] before:absolute before:w-[1px] before:h-[15px] before:bg-black last:before:hidden">
                            12 August 2024
                        </li>
                        <li class="text-[14px] md:text-[15px] lg:text-[16px] text-black inline-block mr-25 last:mr-0 relative before:-right-[13px] before:top-[4.5px] before:absolute before:w-[1px] before:h-[15px] before:bg-black last:before:hidden">
                            <a routerLink="/blog-details">
                                No Comment
                            </a>
                        </li>
                    </ul>
                    <h3 class="font-bold text-black text-[20px] md:text-[24px] lg:text-[28px] xl:text-[32px] leading-[1.3] mt-10 mb-[17px] xl:mt-15">
                        Unlocking Secure Payments With a Payment Gateway
                    </h3>
                    <p class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary mb-15 leading-[1.8]">
                        Vitae cras leo tellus lectus non fusce tate nibh massa. Quis ut odio quam inam felis sed. Eleifend euismod vitae parturient libero. Magna in turient congue vitae parturient liberoaliquam egestas. Vitae cras leo tellus lectus non fusce tate nibh massa. Quis ut odio quam inam felis sed. Eleifend euismod vitae parturient.
                    </p>
                    <p class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary mb-15 leading-[1.8]">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus amet sem venenatis faucibus non maecenas. Ultricies feugiat amet tellus condimentum eu sed sit ut. Tempus felis sit sagittis, morbi sed.
                    </p>
                    <blockquote class="bg-gray rounded-[5px] p-20 md:p-30 xl:p-50 mt-30 mb-30 border-l-4 border-primary">
                        <p class="text-black text-[15px] md:text-[16px] lg:text-[18px] font-semibold leading-[1.6]">
                            “It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using orem ipsum “
                        </p>
                        <span class="block font-medium text-[20px] md:text-[22px] lg:text-[24px] relative mt-15 before:left-0 before:h-[1px] before:bg-black before:top-1/2 before:-translate-y-2/4 before:w-40 before:absolute pl-[55px]">
                            Anakin Skywalker
                        </span>
                    </blockquote>
                    <h3 class="text-[20px] md:text-[22px] lg:text-[24px] text-black font-bold leading-[1.3] mb-15">
                        Principles Related to Human Capital
                    </h3>
                    <p class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary mb-15 leading-[1.8]">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus amet sem venenatis faucibus non maecenas. Ultricies feugiat amet tellus condimentum eu sed sit ut. Tempus felis sit sagittis, morbi sed. Ultricies feugiat amet tellu indum eu sed sit ut. Tempus felis sit sagittis, morbi sed.
                    </p>
                    <div class="grid grid-cols-1 xl:grid-cols-2 gap-25 mt-30 mb-[35px]">
                        <div class="self-center xl:pr-15">
                            <img src="assets/images/blogs/blog8.jpg" class="rounded-[10px]" alt="blog-image">
                        </div>
                        <div class="self-center">
                            <h3 class="text-[20px] text-black font-bold leading-[1.3] mb-15">
                                Simplifying Online Payments
                            </h3>
                            <p class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary mb-15 leading-[1.8]">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus amet sem venenatis faucibus non maecenas. Ultricies feugiat amet tellus condimentum
                            </p>
                            <ul class="list-disc pl-[18px]">
                                <li class="text-[14px] md:text-[15px] lg:text-[16px] text-black mb-15 last:mb-0 font-medium">
                                    Maecenas tempus tellus eget condimentum
                                </li>
                                <li class="text-[14px] md:text-[15px] lg:text-[16px] text-black mb-15 last:mb-0 font-medium">
                                    Donec vitae sapien ut libero venenatis faucibus
                                </li>
                                <li class="text-[14px] md:text-[15px] lg:text-[16px] text-black mb-15 last:mb-0 font-medium">
                                    Nullam quis ante. Etiam sit amet orci eget eros
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="text-[20px] md:text-[22px] lg:text-[24px] text-black font-bold leading-[1.3] mb-15">
                        Best Part Time Business Ideas to Run in Your Spare Time
                    </h3>
                    <p class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary mb-15 leading-[1.8]">
                        Dolor sit amet, consectetur adipiscing elit. Cursus amet sem venenatis faucibus non maecenas. Ultricies feugiat amet tellus condimentum eu sed sit ut. Tempus felis sit sagittis, morbi sed. Ultricies feugiat amet tellu indum eu sed sit ut. Tempus felis sit sagittis, morbi sed.
                    </p>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-25 border-t border-[#eeeeee] mt-25 pt-25 md:mt-30 md:pt-30 lg:mt-40 lg:pt-40 xl:mt-50 xl:pt-50 mb-25 md:mb-30 lg:mb-40 xl:mb-50">
                        <div class="text-secondary text-[14px] md:text-[15px] lg:text-[16px] self-center">
                            <span class="text-black font-medium text-[14px] md:text-[15px] lg:text-[18px]">
                                Tags :
                            </span> <a routerLink="/blog">
                                Graphics
                            </a>, <a routerLink="/blog">
                                Design
                            </a>, <a routerLink="/blog">
                                Business
                            </a>
                        </div>
                        <div class="self-center md:text-right">
                            <span class="text-black font-medium text-[14px] md:text-[15px] lg:text-[18px] inline-block">
                                Share :
                            </span>
                            <a href="#" class="inline-block w-30 h-30 leading-[30px] bg-gray rounded-full text-center transition-all hover:bg-primary hover:text-white ml-10" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                            <a href="#" class="inline-block w-30 h-30 leading-[30px] bg-gray rounded-full text-center transition-all hover:bg-primary hover:text-white ml-10" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                            <a href="#" class="inline-block w-30 h-30 leading-[30px] bg-gray rounded-full text-center transition-all hover:bg-primary hover:text-white ml-10" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                            <a href="#" class="inline-block w-30 h-30 leading-[30px] bg-gray rounded-full text-center transition-all hover:bg-primary hover:text-white ml-10" target="_blank">
                                <i class="ri-instagram-line"></i>
                            </a>
                        </div>
                    </div>
                    <h3 class="text-[20px] md:text-[22px] lg:text-[24px] text-black font-bold leading-[1.3] mb-25">
                        Comments Reply
                    </h3>
                    <form>
                        <div class="grid grid-cols-3 gap-25">
                            <div class="mb-25">
                                <input type="text" placeholder="Name" class="text-[14px] md:text-[15px] lg:text-[16px] block text-black w-full h-[52px] rounded-[5px] bg-gray placeholder:text-secondary pl-20 outline-0">
                            </div>
                            <div class="mb-25">
                                <input type="text" placeholder="Email" class="text-[14px] md:text-[15px] lg:text-[16px] block text-black w-full h-[52px] rounded-[5px] bg-gray placeholder:text-secondary pl-20 outline-0">
                            </div>
                            <div class="mb-25">
                                <input type="text" placeholder="Website" class="text-[14px] md:text-[15px] lg:text-[16px] block text-black w-full h-[52px] rounded-[5px] bg-gray placeholder:text-secondary pl-20 outline-0">
                            </div>
                        </div>
                        <div class="mb-25">
                            <textarea cols="30" rows="5" class="text-[14px] md:text-[15px] lg:text-[16px] block text-black w-full rounded-[5px] bg-gray placeholder:text-secondary pl-20 pt-20 outline-0" placeholder="Message"></textarea>
                        </div>
                        <div class="flex items-center mb-30">
                            <input id="default-checkbox" type="checkbox" value class="w-20 h-20">
                            <label for="default-checkbox" class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary ml-10 cursor-pointer">
                                Save my info for the next comment
                            </label>
                        </div>
                        <button type="submit" class="text-[14px] md:text-[15px] lg:text-[16px] xl:text-[18px] inline-block rounded-full font-semibold bg-primary text-white px-[35px] py-[13px] transition-all hover:bg-warning hover:text-black">
                            Post Comment
                        </button>
                    </form>
                </div>
            </div>
            <div class="3xl:pl-[14px]">
                <div class="mb-25 md:mb-40 lg:mb-50 xl:mb-70 last:mb-0">
                    <form class="relative">
                        <input type="text" placeholder="Search" class="block h-55 md:h-60 lg:h-80 w-full tet-[14px] md:text-[15px] lg:text-[16px] border border-[#000] rounded-[5px] pl-20 md:pl-25 text-black placeholder:text-secondary outline-0">
                        <button type="submit" class="absolute bg-primary text-white w-55 md:w-60 lg:w-80 text-[25px] md:text-[30px] top-0 bottom-0 right-0 rounded-[5px] transition-all hover:bg-black hover:text-white">
                            <i class="ri-search-line"></i>
                        </button>
                    </form>
                </div>
                <div class="mb-25 md:mb-40 lg:mb-50 xl:mb-70 last:mb-0">
                    <h3 class="inline-block text-black font-semibold mb-25 md:mb-30 text-[20px] leading-[1.3] relative before:left-0 before:right-0 before:bottom-0 before:absolute before:h-[1px] before:bg-black">
                        Blog Categories
                    </h3>
                    <ul>
                        <li class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary relative pl-20 mb-[13px] last:mb-0 before:w-10 before:h-10 before:rounded-full before:absolute before:bg-primary before:left-0 before:top-1/2 before:-translate-y-2/4">
                            <a routerLink=".blog">
                                Insight
                            </a>
                        </li>
                        <li class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary relative pl-20 mb-[13px] last:mb-0 before:w-10 before:h-10 before:rounded-full before:absolute before:bg-primary before:left-0 before:top-1/2 before:-translate-y-2/4">
                            <a routerLink=".blog">
                                News
                            </a>
                        </li>
                        <li class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary relative pl-20 mb-[13px] last:mb-0 before:w-10 before:h-10 before:rounded-full before:absolute before:bg-primary before:left-0 before:top-1/2 before:-translate-y-2/4">
                            <a routerLink=".blog">
                                Trips & Trick
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mb-25 md:mb-40 lg:mb-50 xl:mb-70 last:mb-0">
                    <h3 class="inline-block text-black font-semibold mb-25 md:mb-30 text-[20px] leading-[1.3] relative before:left-0 before:right-0 before:bottom-0 before:absolute before:h-[1px] before:bg-black">
                        Recent Posts
                    </h3>
                    <div class="mb-30 last:mb-0 relative pl-[120px] md:pl-[123px] sm:pt-[14px] md:pt-[9px]">
                        <a routerLink="/blog-details" class="inline-block left-0 top-0 absolute w-[102px]">
                            <img src="assets/images/blogs/blog5.jpg" class="inline rounded-[10px]" alt="blog-image">
                        </a>
                        <span class="block leading-none text-[14px] md:text-[15px] lg:text-[16px] text-secondary">
                            12 August 2024
                        </span>
                        <h4 class="text-black sm:max-w-[320px] text-[14px] md:text-[15px] lg:text-[16px] font-semibold mt-10 leading-[1.6]">
                            <a routerLink="/blog-details">
                                Exploring The Features of a Reliable Payment Gateway App
                            </a>
                        </h4>
                    </div>
                    <div class="mb-30 last:mb-0 relative pl-[120px] md:pl-[123px] sm:pt-[14px] md:pt-[9px]">
                        <a routerLink="/blog-details" class="inline-block left-0 top-0 absolute w-[102px]">
                            <img src="assets/images/blogs/blog6.jpg" class="inline rounded-[10px]" alt="blog-image">
                        </a>
                        <span class="block leading-none text-[14px] md:text-[15px] lg:text-[16px] text-secondary">
                            11 August 2024
                        </span>
                        <h4 class="text-black sm:max-w-[320px] text-[14px] md:text-[15px] lg:text-[16px] font-semibold mt-10 leading-[1.6]">
                            <a routerLink="/blog-details">
                                Unlocking Secure Payments With a Payment Gateway
                            </a>
                        </h4>
                    </div>
                    <div class="mb-30 last:mb-0 relative pl-[120px] md:pl-[123px] sm:pt-[14px] md:pt-[9px]">
                        <a routerLink="/blog-details" class="inline-block left-0 top-0 absolute w-[102px]">
                            <img src="assets/images/blogs/blog7.jpg" class="inline rounded-[10px]" alt="blog-image">
                        </a>
                        <span class="block leading-none text-[14px] md:text-[15px] lg:text-[16px] text-secondary">
                            10 August 2024
                        </span>
                        <h4 class="text-black sm:max-w-[320px] text-[14px] md:text-[15px] lg:text-[16px] font-semibold mt-10 leading-[1.6]">
                            <a routerLink="/blog-details">
                                The Role of Payment Gateway Apps in E-Commerce Success
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="mb-25 md:mb-40 lg:mb-50 xl:mb-70 last:mb-0">
                    <h3 class="inline-block text-black font-semibold mb-25 md:mb-[35px] text-[20px] leading-[1.3] relative before:left-0 before:right-0 before:bottom-0 before:absolute before:h-[1px] before:bg-black">
                        Tags
                    </h3>
                    <div class="space-x-10 md:space-x-15">
                        <a routerLink="/blog" class="text-[14px] md:text-[15px] lg:text-[16px] px-15 md:px-20 py-[6px] md:py-[8px] bg-gray transition-all hover:bg-primary hover:text-white rounded-[4px]">
                            Banking
                        </a>
                        <a routerLink="/blog" class="text-[14px] md:text-[15px] lg:text-[16px] px-15 md:px-20 py-[6px] md:py-[8px] bg-gray transition-all hover:bg-primary hover:text-white rounded-[4px]">
                            Card
                        </a>
                        <a routerLink="/blog" class="text-[14px] md:text-[15px] lg:text-[16px] px-15 md:px-20 py-[6px] md:py-[8px] bg-gray transition-all hover:bg-primary hover:text-white rounded-[4px]">
                            Trips & Trick
                        </a>
                    </div>
                </div>
                <div class="mb-25 md:mb-40 lg:mb-50 xl:mb-70 last:mb-0">
                    <div class="bg-primary px-20 pb-20 md:px-40 md:pb-40 rounded-[10px]">
                        <div class="text-right -mb-20">
                            <img src="assets/images/cards/card7.png" class="inline" alt="card-image">
                        </div>
                        <h3 class="text-warning font-semibold text-[20px] md:text-[22px] lg:text-[24px] md:max-w-[227px] leading-[1.4] mb-10 md:mb-[12px]">
                            Tap Into Our Expert Community
                        </h3>
                        <p class="text-[14px] md:text-[15px] lg:text-[16px] text-white leading-[1.7] md:max-w-[376px]">
                            Free 1:1 coaching with experts inmarketing, finance, growth.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>