<div
    class="py-60 md:py-80 lg:py-100 xl:py-130 relative z-1 bg-primary mission-area before:absolute before:top-100 before:right-0 before:w-[940px] before:h-[940px] before:rounded-full before:-z-2 before:hidden lg:before:block"
>
    <div class="px-10 sm:px-0 container mx-auto">
        <h2
            class="text-white font-bold text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug lg:max-w-[600px] xl:max-w-[745px] -mt-5 lg:-mt-10 xl:-mt-15 mb-25 md:mb-0"
        >
            Being a Money Transfer Service for Hard Working People
        </h2>
        <div class="sm:grid sm:grid-cols-3 sm:gap-25">
            <div class="self-center">
                <img
                    src="assets/images/icons/right-arrow.png"
                    alt="right-arrow"
                />
            </div>
            <div
                class="col-span-2 self-center text-center mt-25 md:mt-0 md:pl-[25px] lg:pl-[70px] xl:pl-[140px]"
            >
                <img
                    src="assets/images/mission.jpg"
                    class="rounded-lg"
                    alt="mission-image"
                />
            </div>
        </div>
        <div class="grid lg:grid-cols-2 gap-25 mt-25 md:mt-40 lg:mt-50">
            <div>
                <p
                    class="text-[14px] md:text-[15px] md:text-[17px] xl:text-[20px] text-white lg:-tracking-[0.3px] xl:-tracking-[0.5px] xl:max-w-[630px] leading-[1.8]"
                >
                    The M-Bank account is the universal way for you to manage
                    money internationally. It's made for the world. And it's
                    built to save your money and time, so you can do more of the
                    things you love.
                </p>
            </div>
            <div class="lg:text-right">
                <a
                    routerLink="/about"
                    class="inline-block text-[13px] md:text-[14px] lg:text-[15px] text-black bg-warning border-warning border font-semibold py-[13px] px-25 rounded-full transition-all hover:bg-white hover:text-black hover:border-white"
                >
                    Learn about our mission
                </a>
            </div>
        </div>
    </div>
</div>
