<!-- Page Title -->
<div class="pt-[105px] md:pt-[135px] lg:pt-[150px] xl:pt-[150px] bg-gray">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-25">
            <div class="md:col-span-2">
                <div
                    class="xl:pl-40 2xl:pl-[98px] lg:mt-30 xl:mt-15 2xl:mt-40 3xl:mt-[75px]"
                >
                    <span
                        class="block text-primary text-[15px] md:text-[16px] lg:text-[20px] font-semibold"
                    >
                        Team
                    </span>
                    <h1
                        class="xl:max-w-[700px] font-bold text-black text-[25px] md:text-[35px] lg:text-[48px] xl:text-[57px] leading-[1.25] mt-[12px]"
                    >
                        Meet the Team at M-Bank
                    </h1>
                </div>
            </div>
            <div
                class="md:text-right flex justify-center md:justify-end xl:pr-80"
            >
                <img
                    src="assets/images/team.png"
                    class="w-[200px] h-[200px] md:w-[300px] md:h-[300px] object-contain"
                    alt="team-image"
                />
            </div>
        </div>
    </div>
</div>

<!-- Team -->
<div class="py-60 md:py-80 lg:py-100 xl:py-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-25">
            <div>
                <img
                    src="assets/images/teams/team1.jpg"
                    class="rounded-lg mb-15 xl:mb-20"
                    alt="team-image"
                />
                <h3
                    class="text-black text-[20px] md:text-[22px] lg:text-[24px] font-bold mb-5"
                >
                    Alice Johnson
                </h3>
                <span
                    class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary"
                >
                    Chief Executive Officer
                </span>
            </div>
            <div>
                <img
                    src="assets/images/teams/team2.jpg"
                    class="rounded-lg mb-15 xl:mb-20"
                    alt="team-image"
                />
                <h3
                    class="text-black text-[20px] md:text-[22px] lg:text-[24px] font-bold mb-5"
                >
                    Michael Chening
                </h3>
                <span
                    class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary"
                >
                    Chief Operations Officer
                </span>
            </div>
            <div>
                <img
                    src="assets/images/teams/team3.jpg"
                    class="rounded-lg mb-15 xl:mb-20"
                    alt="team-image"
                />
                <h3
                    class="text-black text-[20px] md:text-[22px] lg:text-[24px] font-bold mb-5"
                >
                    Emma Davis
                </h3>
                <span
                    class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary"
                >
                    Chief Technology Officer
                </span>
            </div>
        </div>
    </div>
</div>

<app-subscribe></app-subscribe>
