<div
    class="py-60 md:py-80 lg:py-100 xl:py-130 bg-gray"
    [ngClass]="{'bg-white': router.url === '/about'}"
>
    <div class="px-10 sm:px-0 container mx-auto">
        <h2 class="text-center font-bold text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] leading-tight -mt-5 md:-mt-[8px] lg:-mt-10 xl:-mt-15 mb-30 md:mb-40 lg:mb-50 -tracking-[.28px] md:-tracking-[1px] xl:-tracking-[1.88px] text-black">
            Personal Currency Transfers Services
        </h2>
        <div class="grid sm:grid-cols-2 xl:grid-cols-4 gap-25 lg:gap-30">
            <div
                class="px-20 md:px-25 lg:px-40 xl:px-25 2xl:px-40 py-25 md:py-30 lg:py-50 bg-white rounded-lg transition-all hover:shadow-lg"
                [ngClass]="{'bg-gray2': router.url === '/about'}"
            >
                <img src="assets/images/icons/icon1.png" alt="icon1">
                <h3 class="text-[20px] md:text-[24px] font-semibold lg:max-w-[215px] leading-tight mt-15 md:mt-80 lg:mt-[115px] mb-[12px] md:mb-15 lg:mb-25 text-black">
                    Safeguarded with Leading Banks
                </h3>
                <p class="text-[14px] md:text-[15px] lg:text-[18px] text-secondary leading-relaxed">
                    From local IBANs to transfers, direct debits and cards: all you need to pay and get paid.
                </p>
            </div>
            <div
                class="px-20 md:px-25 lg:px-40 xl:px-25 2xl:px-40 py-25 md:py-30 lg:py-50 bg-white rounded-lg transition-all hover:shadow-lg"
                [ngClass]="{'bg-gray2': router.url === '/about'}"
            >
                <img src="assets/images/icons/icon2.png" alt="icon2">
                <h3 class="text-[20px] md:text-[24px] font-semibold lg:max-w-[215px] leading-tight mt-15 md:mt-80 lg:mt-[115px] mb-[12px] md:mb-15 lg:mb-25 text-black">
                    Extra-Secure Transactions
                </h3>
                <p class="text-[14px] md:text-[15px] lg:text-[18px] text-secondary leading-relaxed">
                    From local IBANs to transfers, direct debits and cards: all you need to pay and get paid.
                </p>
            </div>
            <div
                class="px-20 md:px-25 lg:px-40 xl:px-25 2xl:px-40 py-25 md:py-30 lg:py-50 bg-white rounded-lg transition-all hover:shadow-lg"
                [ngClass]="{'bg-gray2': router.url === '/about'}"
            >
                <img src="assets/images/icons/icon3.png" alt="icon3">
                <h3 class="text-[20px] md:text-[24px] font-semibold lg:max-w-[215px] leading-tight mt-15 md:mt-80 lg:mt-[115px] mb-[12px] md:mb-15 lg:mb-25 text-black">
                    Great Exchange Rates
                </h3>
                <p class="text-[14px] md:text-[15px] lg:text-[18px] text-secondary leading-relaxed">
                    From local IBANs to transfers, direct debits and cards: all you need to pay and get paid.
                </p>
            </div>
            <div
                class="px-20 md:px-25 lg:px-40 xl:px-25 2xl:px-40 py-25 md:py-30 lg:py-50 bg-white rounded-lg transition-all hover:shadow-lg"
                [ngClass]="{'bg-gray2': router.url === '/about'}"
            >
                <img src="assets/images/icons/icon4.png" alt="icon4">
                <h3 class="text-[20px] md:text-[24px] font-semibold lg:max-w-[215px] leading-tight mt-15 md:mt-80 lg:mt-[115px] mb-[12px] md:mb-15 lg:mb-25 text-black">
                    Get Your Money Quickly
                </h3>
                <p class="text-[14px] md:text-[15px] lg:text-[18px] text-secondary leading-relaxed">
                    From local IBANs to transfers, direct debits and cards: all you need to pay and get paid.
                </p>
            </div>
        </div>
    </div>
</div>