<div class="py-60 md:py-80 lg:py-100 xl:py-130 bg-primary relative z-1 before:left-0 before:right-0 before:bottom-0 before:-z-1 before:bg-white before:h-[38%] before:absolute">
    <div class="px-10 sm:px-0 container mx-auto">
        <h2 class="text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] font-bold text-center text-white -mt-5 md:-mt-10 lg:-mt-[12px] md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug mb-10 lg:mb-15 xl:mb-20">
            Small Steps Lead to Big Wins
        </h2>
        <p class="text-center mx-auto lg:max-w-[735px] text-white text-[14px] md:text-[15px] lg:text-[16px] leading-[1.8]">
            Use the saving goal calculator below to see how soon you could achieve your financial goal when you commit to saving regularly. Then get started with Arad and create your own personalized saving goal to really make it happen!
        </p>
        <div class="bg-white rounded-xl shadow-box mt-30 md:mt-40 lg:mt-50">
            <div class="grid grid-cols-1 lg:grid-cols-2">
                <div class="p-20 sm:p-[35px] md:p-40 2xl:p-65 self-center">
                    <h3 class="text-black font-semibold text-[20px] md:text-[22px] lg:text-[24px] leading-none mb-20 md:mb-25 lg:mb-30">
                        I’m saving for
                    </h3>
                    <form>
                        <div class="mb-15 md:mb-20">
                            <select class="rounded-lg bg-gray h-50 md:h-60 lg:h-70 block w-full outline-0 pl-15 md:pl-25 text-black placeholder:text-secondary text-[14px] md:text-[15px] lg:text-[16px] cursor-pointer">
                                <option selected>Goal</option>
                                <option value="1">Save</option>
                                <option value="2">Spend</option>
                            </select>
                        </div>
                        <div class="mb-15 md:mb-20">
                            <input type="text" class="rounded-lg bg-gray h-50 md:h-60 lg:h-70 block w-full outline-0 pl-15 md:pl-25 text-black placeholder:text-secondary text-[14px] md:text-[15px] lg:text-[16px]" placeholder="Saving goal amount">
                        </div>
                        <div class="mb-15 md:mb-20">
                            <input type="text" class="rounded-lg bg-gray h-50 md:h-60 lg:h-70 block w-full outline-0 pl-15 md:pl-25 text-black placeholder:text-secondary text-[14px] md:text-[15px] lg:text-[16px]" placeholder="Initial amount deposit">
                        </div>
                        <div class="mb-15 md:mb-20">
                            <input type="text" class="rounded-lg bg-gray h-50 md:h-60 lg:h-70 block w-full outline-0 pl-15 md:pl-25 text-black placeholder:text-secondary text-[14px] md:text-[15px] lg:text-[16px]" placeholder="Auto transfer amount">
                        </div>
                        <div class="mb-15 md:mb-20">
                            <select class="rounded-lg bg-gray h-50 md:h-60 lg:h-70 block w-full outline-0 pl-15 md:pl-25 text-black placeholder:text-secondary text-[14px] md:text-[15px] lg:text-[16px] cursor-pointer">
                                <option selected>Transfer frequency</option>
                                <option value="1">Annually</option>
                                <option value="2">Semiannually</option>
                                <option value="3">Monthly</option>
                                <option value="4">Daily</option>
                            </select>
                        </div>
                        <button type="submit" class="text-warning font-semibold text-[15px] md:text-[16px] lg:text-[18px] text-center block w-full rounded-full bg-primary px-25 py-[14px] md:py-[17px] lg:py-20 transition-all hover:bg-warning hover:text-black">
                            Calculate
                        </button>
                    </form>
                </div>
                <div class="self-center">
                    <img src="assets/images/calculate.jpg" class="rounded-xl" alt="calculate-image">
                </div>
            </div>
        </div>
    </div>
</div>