<!-- Default Section -->
<div
    class="pt-60 md:pt-80 lg:pt-100 xl:pt-130 pb-[135px] md:pb-[130px] lg:pb-[190px] xl:pb-[230px] bg-gray relative z-1 -mb-80 md:-mb-90 lg:-mb-100"
    [ngClass]="{ hidden: router.url === '/index-2' }"
>
    <div class="px-10 sm:px-0 container mx-auto">
        <div
            class="bg-[#f7f7f7] py-60 md:py-80 lg:py-100 xl:py-130 px-20 rounded-[10px]"
        >
            <div
                class="text-center -mt-5 md:-mt-[8px] lg:-mt-10 xl:-mt-15 md:mx-auto md:max-w-[900px]"
            >
                <h2
                    class="font-bold text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] text-black md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug mb-[12px] md:mb-15 lg:mb-20 xl:mb-25"
                >
                    TrustBanks score 4.4 out of 5, from 96,552 reviews
                </h2>
                <p
                    class="text-[14px] md:text-[15px] lg:text-[16px] xl:text-[18px] text-secondary md:mx-auto md:max-w-[600px] lg:max-w-[700px] xl:max-w-[800px] leading-[1.8]"
                >
                    It’s your money. You can trust us to get it where it needs
                    to be, but don’t take our word for it. Read our reviews at
                    <a
                        href="https://www.trustbanks.com/"
                        target="_blank"
                        class="text-black font-semibold relative before:left-0 before:right-0 before:bottom-0 before:h-[1px] before:bg-black before:absolute transition-all hover:text-primary"
                    >
                        TrustBanks.com.
                    </a>
                </p>
                <div
                    class="text-secondary text-[14px] md:text-[15px] lg:text-[16px] xl:text-[18px] mt-15 md:mt-20 lg:mt-30 xl:mt-40"
                >
                    Reviews From:
                    <a
                        href="https://www.trustbanks.com/"
                        target="_blank"
                        class="ml-5 md:ml-10 lg:ml-15 xl:ml-20 text-black relative font-semibold text-[16px] md:text-[18px] lg:text-[20px] pl-25 lg:pl-30 transition-all hover:text-primary"
                    >
                        <i
                            class="ri-star-fill absolute left-0 top-1/2 -translate-y-2/4 text-[20px] lg:text-[25px]"
                        ></i>
                        TrustBanks
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div
        class="absolute left-0 right-0 -z-1 bottom-0 pointer-events-none text-center hidden xl:block"
    >
        <img
            src="assets/images/shapes/shape3.png"
            class="inline"
            alt="shape3"
        />
    </div>
</div>
