<div
    class="py-60 md:py-80 lg:py-100 xl:py-130"
    [ngClass]="{ 'bg-gray': router.url === '/index-2' }"
>
    <div class="px-10 sm:px-0 container mx-auto">
        <h2
            class="text-black text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] font-bold lg:mx-auto lg:max-w-[780px] text-center md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug -mt-5 md:-mt-10 lg:-mt-15 mb-30 md:mb-40 lg:mb-50"
        >
            We Charge as Little as Possible. No Subscription Fee
        </h2>
        <div class="overflow-x-auto">
            <table
                class="w-full text-center whitespace-nowrap text-black text-[14px] md:text-[15px]"
            >
                <thead>
                    <tr>
                        <th
                            class="text-left font-medium py-25 px-20 md:py-30 md:px-25 lg:py-40 lg:px-30 xl:py-50 xl:px-40"
                        >
                            Sending 1,000.00 GBP With
                        </th>
                        <th
                            class="bg-warning py-25 px-20 md:py-30 md:px-25 lg:py-30 lg:px-30 xl:py-50 xl:px-"
                        >
                            <img
                                src="assets/images/black-logo.png"
                                class="inline"
                                alt="logo"
                            />
                        </th>
                        <th
                            class="py-25 px-20 md:py-30 md:px-25 lg:py-40 lg:px-30 xl:py-50 xl:px-40"
                        >
                            <img
                                src="assets/images/subscription-comparison/monese.png"
                                class="inline"
                                alt="monese"
                            />
                        </th>
                        <th
                            class="py-25 px-20 md:py-30 md:px-25 lg:py-40 lg:px-30 xl:py-50 xl:px-40"
                        >
                            <img
                                src="assets/images/subscription-comparison/remitly.png"
                                class="inline"
                                alt="remitly"
                            />
                        </th>
                        <th
                            class="py-25 px-20 md:py-30 md:px-25 lg:py-40 lg:px-30 xl:py-50 xl:px-40"
                        >
                            <img
                                src="assets/images/subscription-comparison/western-union.png"
                                class="inline"
                                alt="western-union"
                            />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td
                            class="text-left bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{
                                'bg-white': router.url === '/index-2'
                            }"
                        >
                            <span class="block font-medium">
                                Recipient Gets
                            </span>
                            <span class="block text-[12px] mt-5 md:mt-10">
                                (Total After Fees)
                            </span>
                        </td>
                        <td
                            class="bg-warning px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                        >
                            <span
                                class="block font-semibold text-[16px] md:text-[18px] lg:text-[20px]"
                            >
                                1,128.92 EUR
                            </span>
                            <span
                                class="inline-block relative text-success text-[14px] md:text-[16px] mt-[7px] pl-25"
                            >
                                <i
                                    class="ri-arrow-up-s-fill mt-[1px] absolute text-[24px] md:text-[25px] leading-none left-0 top-1/2 -translate-y-2/4"
                                ></i>
                                -5% EUR
                            </span>
                        </td>
                        <td
                            class="bg-[#fcfee8] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{
                                'bg-[#eeffdd]': router.url === '/index-2'
                            }"
                        >
                            <span
                                class="block font-semibold text-[16px] md:text-[18px] lg:text-[20px]"
                            >
                                008.00 EUR
                            </span>
                            <span
                                class="inline-block relative text-danger text-[14px] md:text-[16px] mt-[7px] pl-25"
                            >
                                <i
                                    class="ri-arrow-down-s-fill mt-[1px] absolute text-[24px] md:text-[25px] leading-none left-0 top-1/2 -translate-y-2/4"
                                ></i>
                                - 10% EUR
                            </span>
                        </td>
                        <td
                            class="bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{
                                'bg-white': router.url === '/index-2'
                            }"
                        >
                            <span
                                class="block font-semibold text-[16px] md:text-[18px] lg:text-[20px]"
                            >
                                661.70 EUR
                            </span>
                            <span
                                class="inline-block relative text-danger text-[14px] md:text-[16px] mt-[7px] pl-25"
                            >
                                <i
                                    class="ri-arrow-down-s-fill mt-[1px] absolute text-[24px] md:text-[25px] leading-none left-0 top-1/2 -translate-y-2/4"
                                ></i>
                                - 7% EUR
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td
                            class="text-left bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{
                                'bg-white': router.url === '/index-2'
                            }"
                        >
                            <span class="block font-medium">
                                Transfer Fee
                            </span>
                        </td>
                        <td
                            class="bg-warning px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                        >
                            <span class="block font-medium"> 20.00 GBP </span>
                        </td>
                        <td
                            class="bg-[#fcfee8] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{
                                'bg-[#eeffdd]': router.url === '/index-2'
                            }"
                        >
                            <span class="block font-medium"> 12.00 GBP </span>
                        </td>
                        <td
                            class="bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{
                                'bg-white': router.url === '/index-2'
                            }"
                        >
                            <span class="block font-medium"> 10.00 GBP </span>
                        </td>
                    </tr>
                    <tr>
                        <td
                            class="text-left bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{
                                'bg-white': router.url === '/index-2'
                            }"
                        >
                            <span class="block font-medium">
                                Exchange Rate
                            </span>
                            <span class="block text-[12px] mt-5 md:mt-10">
                                (1 GBP → EUR)
                            </span>
                        </td>
                        <td
                            class="bg-warning px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                        >
                            <span
                                class="relative inline-block font-medium pr-15"
                            >
                                557.02
                                <span
                                    class="block w-[7px] h-[7px] bg-success rounded-full absolute right-0 top-1/2 -translate-y-2/4"
                                ></span>
                            </span>
                            <span class="block mt-5 md:mt-[8px] font-medium">
                                Mid-Market Rate
                            </span>
                        </td>
                        <td
                            class="bg-[#fcfee8] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{
                                'bg-[#eeffdd]': router.url === '/index-2'
                            }"
                        >
                            <span
                                class="relative inline-block font-medium pr-15"
                            >
                                1.15169
                                <span
                                    class="block w-[7px] h-[7px] bg-success rounded-full absolute right-0 top-1/2 -translate-y-2/4"
                                ></span>
                            </span>
                            <span
                                class="block mt-5 md:mt-[8px] font-medium text-[#5d7079]"
                            >
                                Mid-Market Rate
                            </span>
                        </td>
                        <td
                            class="bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{
                                'bg-white': router.url === '/index-2'
                            }"
                        >
                            <span
                                class="relative inline-block font-medium pr-15"
                            >
                                1.15169
                                <span
                                    class="block w-[7px] h-[7px] bg-danger rounded-full absolute right-0 top-1/2 -translate-y-2/4"
                                ></span>
                            </span>
                            <span
                                class="block mt-5 md:mt-[8px] font-medium text-[#5d7079]"
                            >
                                Mid-Market Rate
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td
                            class="text-left bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70"
                            [ngClass]="{
                                'bg-white': router.url === '/index-2'
                            }"
                        >
                            <span class="block font-medium"> Total Cost </span>
                        </td>
                        <td
                            class="bg-warning px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70"
                        >
                            <span
                                class="text-[14px] md:text-[15px] font-medium"
                            >
                                5.026
                            </span>
                        </td>
                        <td
                            class="bg-[#fcfee8] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70"
                            [ngClass]="{
                                'bg-[#eeffdd]': router.url === '/index-2'
                            }"
                        >
                            <span
                                class="text-[14px] md:text-[15px] font-medium"
                            >
                                3.542
                            </span>
                        </td>
                        <td
                            class="bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70"
                            [ngClass]="{
                                'bg-white': router.url === '/index-2'
                            }"
                        >
                            <span
                                class="text-[14px] md:text-[15px] font-medium"
                            >
                                2.543
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
