<!-- Page Title -->
<div class="pt-[105px] md:pt-[135px] lg:pt-[165px] xl:pt-[155px] bg-gray">
    <div class="px-10 sm:px-0 container mx-auto 2xl:max-w-[1920px]">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-25">
            <div class="lg:col-span-2">
                <div class="2xl:max-w-[630px] 2xl:mt-[45px] 2xl:ml-[170px] 3xl:mt-[65px] 3xl:ml-[250px]">
                    <span class="block text-primary text-[15px] md:text-[16px] lg:text-[20px] lg:text-[20px] font-semibold">
                        Testimonials
                    </span>
                    <h1 class="font-bold text-black text-[25px] md:text-[35px] lg:text-[48px] xl:text-[57px] leading-[1.25] mt-[12px]">
                        What Our Client Say and Feedback
                    </h1>
                </div>
            </div>
            <div class="md:text-right">
                <img src="assets/images/testimonials.png" class="inline" alt="testimonials-image">
            </div>
        </div>
    </div>
</div>

<!-- Testimonials -->
<div class="py-60 md:py-80 lg:py-100 xl:py-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-25 3xl:gap-40">
            <div class="bg-primary p-20 md:p-25 lg:p-30 rounded-lg">
                <div class="mb-15">
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                </div>
                <h3 class="text-white font-bold text-[18px] md:text-[20px] mb-[8px] lg:mb-[12px]">
                    Moving from Banking Money Transfer
                </h3>
                <p class="text-[15px] md:text-[16px] lg:text-[18px] text-white leading-[1.7] opacity-90">
                    My website is on wordpress, I’m moving from wordpress to Arad. I’ve a new project now I,m Working on with Arad.
                </p>
                <span class="mt-[17px] md:mt-20 lg:mt-[22px] block text-[14px] md:text-[15px] lg:text-[16px] font-semibold leading-none text-white relative pl-25">
                    <i class="ri-shield-star-fill absolute left-0 top-1/2 -translate-y-2/4 text-warning"></i>
                    Trustpilot
                </span>
            </div>
            <div class="bg-primary p-20 md:p-25 lg:p-30 rounded-lg">
                <div class="mb-15">
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-half-line w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                </div>
                <h3 class="text-white font-bold text-[18px] md:text-[20px] mb-[8px] lg:mb-[12px]">
                    The Most Wonderful System in Online Banking
                </h3>
                <p class="text-[15px] md:text-[16px] lg:text-[18px] text-white leading-[1.7] opacity-90">
                    I can say it’s the best eCommerce platform, looks so professional even in its early development.
                </p>
                <span class="mt-[17px] md:mt-20 lg:mt-[22px] block text-[14px] md:text-[15px] lg:text-[16px] font-semibold leading-none text-white relative pl-25">
                    <i class="ri-shield-star-fill absolute left-0 top-1/2 -translate-y-2/4 text-warning"></i>
                    Trustpilot
                </span>
            </div>
            <div class="bg-primary p-20 md:p-25 lg:p-30 rounded-lg">
                <div class="mb-15">
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-line w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                </div>
                <h3 class="text-white font-bold text-[18px] md:text-[20px] mb-[8px] lg:mb-[12px]">
                    Good Support, Some Room for Imporvement
                </h3>
                <p class="text-[15px] md:text-[16px] lg:text-[18px] text-white leading-[1.7] opacity-90">
                    Arad has a lot of potential, but I found some of the features very useful like sending link over WhatsApp.
                </p>
                <span class="mt-[17px] md:mt-20 lg:mt-[22px] block text-[14px] md:text-[15px] lg:text-[16px] font-semibold leading-none text-white relative pl-25">
                    <i class="ri-shield-star-fill absolute left-0 top-1/2 -translate-y-2/4 text-warning"></i>
                    Trustpilot
                </span>
            </div>
            <div class="bg-primary p-20 md:p-25 lg:p-30 rounded-lg">
                <div class="mb-15">
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-half-line w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-line w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                </div>
                <h3 class="text-white font-bold text-[18px] md:text-[20px] mb-[8px] lg:mb-[12px]">
                    It Was Just What I Needed
                </h3>
                <p class="text-[15px] md:text-[16px] lg:text-[18px] text-white leading-[1.7] opacity-90">
                    I must say, Arad has been very helpful since I started using the platform for my clients. It’s a lifesaver in case of time and money.
                </p>
                <span class="mt-[17px] md:mt-20 lg:mt-[22px] block text-[14px] md:text-[15px] lg:text-[16px] font-semibold leading-none text-white relative pl-25">
                    <i class="ri-shield-star-fill absolute left-0 top-1/2 -translate-y-2/4 text-warning"></i>
                    Trustpilot
                </span>
            </div>
            <div class="bg-primary p-20 md:p-25 lg:p-30 rounded-lg">
                <div class="mb-15">
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-line w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-line w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                </div>
                <h3 class="text-white font-bold text-[18px] md:text-[20px] mb-[8px] lg:mb-[12px]">
                    Great Project and Soft UX
                </h3>
                <p class="text-[15px] md:text-[16px] lg:text-[18px] text-white leading-[1.7] opacity-90">
                    I researched a bit about the product and team. The team is experienced. These guys know what they’re doing. And the product is well designed.
                </p>
                <span class="mt-[17px] md:mt-20 lg:mt-[22px] block text-[14px] md:text-[15px] lg:text-[16px] font-semibold leading-none text-white relative pl-25">
                    <i class="ri-shield-star-fill absolute left-0 top-1/2 -translate-y-2/4 text-warning"></i>
                    Trustpilot
                </span>
            </div>
            <div class="bg-primary p-20 md:p-25 lg:p-30 rounded-lg">
                <div class="mb-15">
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-line w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                </div>
                <h3 class="text-white font-bold text-[18px] md:text-[20px] mb-[8px] lg:mb-[12px]">
                    Great Team, Promising Project
                </h3>
                <p class="text-[15px] md:text-[16px] lg:text-[18px] text-white leading-[1.7] opacity-90">
                    I must say this project has a huge potential! I’m working with a couple of merchants.
                </p>
                <span class="mt-[17px] md:mt-20 lg:mt-[22px] block text-[14px] md:text-[15px] lg:text-[16px] font-semibold leading-none text-white relative pl-25">
                    <i class="ri-shield-star-fill absolute left-0 top-1/2 -translate-y-2/4 text-warning"></i>
                    Trustpilot
                </span>
            </div>
            <div class="bg-primary p-20 md:p-25 lg:p-30 rounded-lg">
                <div class="mb-15">
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-half-line w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                </div>
                <h3 class="text-white font-bold text-[18px] md:text-[20px] mb-[8px] lg:mb-[12px]">
                    Great Project and Soft UX
                </h3>
                <p class="text-[15px] md:text-[16px] lg:text-[18px] text-white leading-[1.7] opacity-90">
                    I researched a bit about the product and team. The team is experienced. These guys know what they’re doing. And the product is well designed.
                </p>
                <span class="mt-[17px] md:mt-20 lg:mt-[22px] block text-[14px] md:text-[15px] lg:text-[16px] font-semibold leading-none text-white relative pl-25">
                    <i class="ri-shield-star-fill absolute left-0 top-1/2 -translate-y-2/4 text-warning"></i>
                    Trustpilot
                </span>
            </div>
            <div class="bg-primary p-20 md:p-25 lg:p-30 rounded-lg">
                <div class="mb-15">
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                    <i class="ri-star-fill w-[22px] h-[22px] bg-warning text-primary inline-block text-center text-[15px] leading-[21px] mr-[2px]"></i>
                </div>
                <h3 class="text-white font-bold text-[18px] md:text-[20px] mb-[8px] lg:mb-[12px]">
                    Great Team, Promising Project
                </h3>
                <p class="text-[15px] md:text-[16px] lg:text-[18px] text-white leading-[1.7] opacity-90">
                    I must say this project has a huge potential! I’m working with a couple of merchants.
                </p>
                <span class="mt-[17px] md:mt-20 lg:mt-[22px] block text-[14px] md:text-[15px] lg:text-[16px] font-semibold leading-none text-white relative pl-25">
                    <i class="ri-shield-star-fill absolute left-0 top-1/2 -translate-y-2/4 text-warning"></i>
                    Trustpilot
                </span>
            </div>
        </div>
    </div>
</div>

<app-quote></app-quote>

<app-collecting-payments></app-collecting-payments>