<div class="py-60 md:py-80 lg:py-100 xl:py-130">
    <div class="px-10 sm:px-0 mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[100%] 3xl:max-w-[1920px] relative">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-25">
            <div class="self-center lg:col-span-2 lg:pr-80 xl:pr-100 2xl:pr-[135px]">
                <img src="assets/images/map.jpg" class="lg:rounded-r-xl" alt="map-image">
            </div>
            <div class="self-center 2xl:pr-50 3xl:pr-100 lg:-ml-70 3xl:-ml-50">
                <span class="block text-black text-[14px] md:text-[15px] lg:text-[16px] mb-5 font-medium">
                    Retailers
                </span>
                <h2 class="text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] text-black font-bold md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug">
                    10,000+ Retailers
                </h2>
                <span class="block text-black text-[14px] md:text-[15px] lg:text-[16px] mb-5 font-medium mt-15 md:mt-20 lg:mt-25 xl:mt-30 2xl:mt-40">
                    Local options
                </span>
                <h2 class="text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] text-black font-bold md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug">
                    Grocery Stores, Hotels, and Restaurants
                </h2>
            </div>
        </div>
    </div>
</div>