<div
    class="pt-10 md:pt-25 lg:pt-30 xl:pt-50 pb-10 md:pb-25 lg:pb-30 xl:pb-50 bg-gray overflow-hidden"
>
    <div class="3xl:max-w-[1920px] 3xl:mx-auto">
        <div
            class="bg-warning h-[83px] lg:h-[97.45px] py-15 -rotate-3 -ml-5 -mr-5"
        >
            <owl-carousel-o [options]="textSliderSlides">
                <ng-template carouselSlide>
                    <div
                        class="font-bold text-[30px] md:text-[38px] lg:text-[48px] leading-tight -tracking-[.30px] md:-tracking-[1px] lg:-tracking-[1.92px]"
                    >
                        Easy Payment
                        <img
                            src="assets/images/shapes/star.png"
                            class="ml-15 md:ml-25 lg:ml-[35px]"
                            alt="star"
                        />
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div
                        class="font-bold text-[30px] md:text-[38px] lg:text-[48px] leading-tight -tracking-[.30px] md:-tracking-[1px] lg:-tracking-[1.92px]"
                    >
                        Reliable Platform
                        <img
                            src="assets/images/shapes/star.png"
                            class="ml-15 md:ml-25 lg:ml-[35px]"
                            alt="star"
                        />
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div
                        class="font-bold text-[30px] md:text-[38px] lg:text-[48px] leading-tight -tracking-[.30px] md:-tracking-[1px] lg:-tracking-[1.92px]"
                    >
                        Trusted Payment
                        <img
                            src="assets/images/shapes/star.png"
                            class="ml-15 md:ml-25 lg:ml-[35px]"
                            alt="star"
                        />
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div
                        class="font-bold text-[30px] md:text-[38px] lg:text-[48px] leading-tight -tracking-[.30px] md:-tracking-[1px] lg:-tracking-[1.92px]"
                    >
                        M-Bank Payment
                        <img
                            src="assets/images/shapes/star.png"
                            class="ml-15 md:ml-25 lg:ml-[35px]"
                            alt="star"
                        />
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
