<div class="py-60 md:py-80 lg:py-100 xl:py-130 bg-gray">
    <div class="px-10 sm:px-0 container mx-auto">
        <h2 class="text-black font-bold text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] lg:max-w-[580px] md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug -mt-5 md:-mt-10 lg:-mt-[12px] mb-30 md:mb-40 lg:mb-50">
            Easily Send Payments and Transfers
        </h2>
        <div class="lg:grid lg:grid-cols-2">
            <div class="self-center xl:-mr-15">
                <img src="assets/images/payments-transfers/pt1.jpg" class="inline rounded-md" alt="payments-transfers-image">
            </div>
            <div class="self-center xl:pl-15">
                <div class="bg-white rounded-md p-20 md:p-30 lg:p-40 xl:p-50 2xl:p-80">
                    <h3 class="text-black font-medium text-[20px] md:text-[24px] lg:text-[28px] xl:text-[32px] md:max-w-[485px] lg:max-w-[100%] xl:max-w-[485px] leading-[1.4] mb-[9px] md:mb-10 lg:mb-15 xl:mb-20">
                        Move Money Seamlessly with Unlimited Free Wire and ACH Transfers.
                    </h3>
                    <p class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary leading-[1.8] md:max-w-[495px] mb-[15px] md:mb-20 xl:mb-25">
                        Complete employee reimbursements or pay vendors on time with unlimited wires and ACH provided by Cash Management.
                    </p>
                    <a routerLink="/send-money" class="inline-block text-[13px] md:text-[14px] lg:text-[15px] text-black bg-warning border-warning border font-semibold py-[12px] px-[35px] rounded-full transition-all hover:bg-primary hover:text-white hover:border-primary">
                        Get Started
                    </a>
                </div>
            </div>
        </div>
        <div class="lg:grid lg:grid-cols-2 pt-25 lg:pt-80 xl:pt-100">
            <div class="self-center xl:pr-15">
                <div class="bg-white rounded-md p-20 md:p-30 lg:p-40 xl:p-50 2xl:p-80">
                    <h3 class="text-black font-medium text-[20px] md:text-[24px] lg:text-[28px] xl:text-[32px] md:max-w-[485px] lg:max-w-[100%] xl:max-w-[485px] leading-[1.4] mb-[9px] md:mb-10 lg:mb-15 xl:mb-20">
                        Schedule Arad Payments Quickly and Painlessly.
                    </h3>
                    <p class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary leading-[1.8] md:max-w-[495px] mb-[15px] md:mb-20 xl:mb-25">
                        Complete employee reimbursements or pay vendors on time with unlimited wires and ACH provided by Cash Management.
                    </p>
                    <a routerLink="/send-money" class="inline-block text-[13px] md:text-[14px] lg:text-[15px] text-black bg-warning border-warning border font-semibold py-[12px] px-[35px] rounded-full transition-all hover:bg-primary hover:text-white hover:border-primary">
                        Get Started
                    </a>
                </div>
            </div>
            <div class="self-center xl:-ml-15">
                <img src="assets/images/payments-transfers/pt2.jpg" class="inline rounded-md" alt="payments-transfers-image">
            </div>
        </div>
    </div>
</div>