<!-- Page Title -->
<div class="pt-[105px] md:pt-[135px] lg:pt-[150px] xl:pt-[188px] bg-gray">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-25">
            <div class="xl:pl-40 2xl:pl-[98px] 2xl:mt-10 3xl:mt-[45px]">
                <span class="block text-primary text-[15px] md:text-[16px] lg:text-[20px] lg:text-[20px] font-semibold">
                    Saving goals
                </span>
                <h1 class="xl:max-w-[540px] font-bold text-black text-[25px] md:text-[35px] lg:text-[48px] xl:text-[57px] leading-[1.25] mt-[12px]">
                    Money Doesn’t Save Itself.
                </h1>
            </div>
            <div class="text-center xl:pl-[95px] 2xl:pl-[105px]">
                <img src="assets/images/girl-with-card.png" class="inline" alt="girl-with-card-image">
            </div>
        </div>
    </div>
</div>

<!-- Saving Goals -->
<div class="py-60 md:py-80 lg:py-100 xl:py-150">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-25">
            <div class="self-center bg-gray px-20 pt-20 md:px-40 md:pt-40 lg:px-25 lg:pt-25 xl:px-40 xl:pt-40 rounded-t-[10px] md:rounded-t-[30px] xl:-mr-20">
                <img src="assets/images/saving-goals.jpg" class="inline rounded-t-[10px] md:rounded-t-[30px]" alt="saving-goals-image">
            </div>
            <div class="self-center lg:pl-5 xl:pl-40 3xl:pl-[90px]">
                <h2 class="font-bold text-black text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug -mt-5 md:-mt-10 lg:-mt-[12px] mb-10 lg:mb-[12px] xl:mb-15">
                    Decide on a Saving Goal.
                </h2>
                <p class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary leading-[1.8] mb-15">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, 
                </p>
                <p class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary leading-[1.8] mb-15">
                    You need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                </p>
                <a routerLink="/contact" class="inline-block text-[15px] md:text-[16px] lg:text-[18px] leading-none text-warning bg-primary rounded-full font-semibold mt-5 md:mt-10 px-30 py-15 transition-all hover:bg-warning hover:text-black">
                    Set your goal
                </a>
            </div>
        </div>
    </div>
</div>

<app-calculate></app-calculate>

<app-digital-banking></app-digital-banking>

<app-collecting-payments></app-collecting-payments>