<div class="py-60 md:py-80 lg:py-100 xl:py-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <h2 class="font-bold text-black text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug -mt-5 md:-mt-10 lg:-mt-[12px] mb-30 md:mb-40 lg:mb-50 lg:max-w-[500px]">
            For People Going Places
        </h2>
        <owl-carousel-o [options]="feedbackSlides">
            <ng-template carouselSlide>
                <div class="bg-[#e9efff] rounded-lg p-20 md:p-30 xl:p-40">
                    <img src="assets/images/users/user5.jpg" class="rounded-full" alt="user-image">
                    <p class="text-[17px] md:text-[19px] lg:text-[21px] xl:text-[24px] text-black leading-[1.6] font-semibold mt-20 mb-15 md:mt-20 md:mb-20 lg:mt-25 lg:mb-20 xl:mt-30 xl:mb-25">
                        “ Arad has changed the game in terms of simplicity, and certainly been a lifesaver for expat living. ”
                    </p>
                    <a href="#" class="inline-block text-[13px] md:text-[14px] lg:text-[15px] text-black bg-warning border-warning border font-semibold py-[12px] px-30 rounded-full transition-all hover:bg-primary hover:text-white hover:border-primary" target="_blank">
                        Watch Video
                    </a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="bg-[#FFF2E5] rounded-lg p-20 md:p-30 xl:p-40">
                    <img src="assets/images/flags/brl.svg" class="rounded-full" alt="flag-image">
                    <p class="text-[17px] md:text-[19px] lg:text-[21px] xl:text-[24px] text-black leading-[1.6] font-semibold mt-20 mb-15 md:mt-20 md:mb-20 lg:mt-25 lg:mb-20 xl:mt-30 xl:mb-25">
                        “ I use Arad to pay a mortgage in a different country each month. Superb. That simple. ”
                    </p>
                    <a href="#" class="inline-block text-[13px] md:text-[14px] lg:text-[15px] text-black bg-warning border-warning border font-semibold py-[12px] px-30 rounded-full transition-all hover:bg-primary hover:text-white hover:border-primary" target="_blank">
                        Gerald On Trustpilot
                    </a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="bg-[#EDEFEB] rounded-lg p-20 md:p-30 xl:p-40">
                    <img src="assets/images/flags/eur.svg" class="rounded-full" alt="flag-image">
                    <p class="text-[17px] md:text-[19px] lg:text-[21px] xl:text-[24px] text-black leading-[1.6] font-semibold mt-20 mb-15 md:mt-20 md:mb-20 lg:mt-25 lg:mb-20 xl:mt-30 xl:mb-25">
                        “ Arad has changed the game in terms of simplicity, and certainly been a lifesaver for expat living. ”
                    </p>
                    <a href="#" class="inline-block text-[13px] md:text-[14px] lg:text-[15px] text-black bg-warning border-warning border font-semibold py-[12px] px-30 rounded-full transition-all hover:bg-primary hover:text-white hover:border-primary" target="_blank">
                        Gerald On Trustpilot
                    </a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="bg-[#FCF4DF] rounded-lg p-20 md:p-30 xl:p-40">
                    <img src="assets/images/users/user5.jpg" class="rounded-full" alt="user-image">
                    <p class="text-[17px] md:text-[19px] lg:text-[21px] xl:text-[24px] text-black leading-[1.6] font-semibold mt-20 mb-15 md:mt-20 md:mb-20 lg:mt-25 lg:mb-20 xl:mt-30 xl:mb-25">
                        “ Arad has changed the game in terms of simplicity, and certainly been a lifesaver for expat living. ”
                    </p>
                    <a href="#" class="inline-block text-[13px] md:text-[14px] lg:text-[15px] text-black bg-warning border-warning border font-semibold py-[12px] px-30 rounded-full transition-all hover:bg-primary hover:text-white hover:border-primary" target="_blank">
                        Watch Video
                    </a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="bg-[#e9efff] rounded-lg p-20 md:p-30 xl:p-40">
                    <img src="assets/images/flags/brl.svg" class="rounded-full" alt="flag-image">
                    <p class="text-[17px] md:text-[19px] lg:text-[21px] xl:text-[24px] text-black leading-[1.6] font-semibold mt-20 mb-15 md:mt-20 md:mb-20 lg:mt-25 lg:mb-20 xl:mt-30 xl:mb-25">
                        “ I use Arad to pay a mortgage in a different country each month. Superb. That simple. ”
                    </p>
                    <a href="#" class="inline-block text-[13px] md:text-[14px] lg:text-[15px] text-black bg-warning border-warning border font-semibold py-[12px] px-30 rounded-full transition-all hover:bg-primary hover:text-white hover:border-primary" target="_blank">
                        Gerald On Trustpilot
                    </a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="bg-[#FFF2E5] rounded-lg p-20 md:p-30 xl:p-40">
                    <img src="assets/images/flags/eur.svg" class="rounded-full" alt="flag-image">
                    <p class="text-[17px] md:text-[19px] lg:text-[21px] xl:text-[24px] text-black leading-[1.6] font-semibold mt-20 mb-15 md:mt-20 md:mb-20 lg:mt-25 lg:mb-20 xl:mt-30 xl:mb-25">
                        “ Arad has changed the game in terms of simplicity, and certainly been a lifesaver for expat living. ”
                    </p>
                    <a href="#" class="inline-block text-[13px] md:text-[14px] lg:text-[15px] text-black bg-warning border-warning border font-semibold py-[12px] px-30 rounded-full transition-all hover:bg-primary hover:text-white hover:border-primary" target="_blank">
                        Gerald On Trustpilot
                    </a>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>