<div class="pb-8 md:pb-12 lg:pb-16 xl:pb-20 bg-gray">
    <div
        class="px-10 sm:px-12 md:px-20 lg:px-24 xl:px-28 2xl:px-32 container mx-auto"
    >
        <h2
            class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl text-black font-bold leading-tight mb-20 md:mb-20 lg:mb-20 xl:mb-100 mt-100 md:mt-100"
        >
            Used by 75,000+ Businesses. Small to Enterprise Globally.
        </h2>
        <div class="overflow-x-auto mt-20">
            <div
                class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-6 gap-6 md:gap-8"
            >
                <div class="flex justify-center items-center">
                    <img
                        class="w-50 sm:w-50 md:w-50 lg:w-40 xl:w-100 object-contain mb-100 md:mb-100 lg:mb-100"
                        src="assets/images/partners/visa.png"
                        alt="visa"
                    />
                </div>
                <div class="flex justify-center items-center">
                    <img
                        class="w-50 sm:w-50 md:w-50 lg:w-40 xl:w-100 object-contain mb-100 md:mb-100 lg:mb-100"
                        src="assets/images/partners/mastercard.png"
                        alt="mastercard"
                    />
                </div>
                <div class="flex justify-center items-center">
                    <img
                        class="w-50 sm:w-50 md:w-50 lg:w-40 xl:w-100 object-contain mb-100 md:mb-100 lg:mb-100"
                        src="assets/images/partners/discover.png"
                        alt="discover"
                    />
                </div>
                <div class="flex justify-center items-center">
                    <img
                        class="w-50 sm:w-50 md:w-50 lg:w-40 xl:w-100 object-contain mb-100 md:mb-100 lg:mb-100"
                        src="assets/images/partners/american-express.png"
                        alt="american-express"
                    />
                </div>
                <div class="flex justify-center items-center">
                    <img
                        class="w-50 sm:w-50 md:w-50 lg:w-40 xl:w-100 object-contain mb-100 md:mb-100 lg:mb-100"
                        src="assets/images/partners/paypal.png"
                        alt="paypal"
                    />
                </div>
                <div class="flex justify-center items-center">
                    <img
                        class="w-50 sm:w-50 md:w-50 lg:w-40 xl:w-100 object-contain mb-100 md:mb-100 lg:mb-100"
                        src="assets/images/partners/pay.png"
                        alt="pay"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
