<footer class="bg-gray pt-60 md:pt-80 lg:pt-100 xl:pt-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid lg:grid-cols-2 gap-25">
            <div class="lg:pr-[110px]">
                <a routerLink="/" class="logo inline-block">
                    <img src="assets/images/black-logo.png" alt="logo" />
                </a>
                <h3
                    class="text-black text-[20px] md:text-[22px] lg:text-[24px] font-medium md:max-w-[305px] mt-[15px] md:mt-[60px] lg:mt-100 xl:mt-[128px] leading-[1.3] mb-15 md:mb-20"
                >
                    The Bank Account For You.
                </h3>
                <a
                    href="#"
                    class="inline-block text-[14px] md:text-[15px] lg:text-[16px] text-black border-black border font-medium py-[9px] pl-[43px] md:pl-[48px] pr-20 rounded-full transition-all relative hover:bg-black hover:text-white"
                    target="_blank"
                >
                    <i
                        class="ri-apple-line absolute top-1/2 -translate-y-2/4 left-20 text-[18px] md:text-[20px] -mt-[1px]"
                    ></i>
                    Download On The App Store
                </a>
            </div>
            <div class="lg:-ml-[110px]">
                <div
                    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-25"
                >
                    <div>
                        <h3
                            class="font-medium text-black text-[15px] md:text-[16px] mb-[12px] md:mb-15"
                        >
                            Company and Team
                        </h3>
                        <ul>
                            <li class="mb-10 md:mb-[13px] last:mb-0">
                                <a
                                    class="text-[14px] md:text-[15px] text-secondary transition-all hover:text-primary relative before:left-0 before:right-0 before:bottom-0 before:h-[1px] before:bg-[#b5b2b2] before:absolute"
                                >
                                    Security
                                </a>
                            </li>
                            <li class="mb-10 md:mb-[13px] last:mb-0">
                                <a
                                    class="text-[14px] md:text-[15px] text-secondary transition-all hover:text-primary relative before:left-0 before:right-0 before:bottom-0 before:h-[1px] before:bg-[#b5b2b2] before:absolute"
                                >
                                    Blog
                                </a>
                            </li>
                            <li class="mb-10 md:mb-[13px] last:mb-0">
                                <a
                                    routerLink="/contact"
                                    class="text-[14px] md:text-[15px] text-secondary transition-all hover:text-primary relative before:left-0 before:right-0 before:bottom-0 before:h-[1px] before:bg-[#b5b2b2] before:absolute"
                                >
                                    Careers
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="3xl:pl-[63px]">
                        <h3
                            class="font-medium text-black text-[15px] md:text-[16px] mb-[12px] md:mb-15"
                        >
                            M-Bank Products
                        </h3>
                        <ul>
                            <li class="mb-10 md:mb-[13px] last:mb-0">
                                <a
                                    routerLink="/services"
                                    class="text-[14px] md:text-[15px] text-secondary transition-all hover:text-primary relative before:left-0 before:right-0 before:bottom-0 before:h-[1px] before:bg-[#b5b2b2] before:absolute"
                                >
                                    Business Checking
                                </a>
                            </li>
                            <li class="mb-10 md:mb-[13px] last:mb-0">
                                <a
                                    routerLink="/services"
                                    class="text-[14px] md:text-[15px] text-secondary transition-all hover:text-primary relative before:left-0 before:right-0 before:bottom-0 before:h-[1px] before:bg-[#b5b2b2] before:absolute"
                                >
                                    Personal Checking
                                </a>
                            </li>
                            <li class="mb-10 md:mb-[13px] last:mb-0">
                                <a
                                    routerLink="/services"
                                    class="text-[14px] md:text-[15px] text-secondary transition-all hover:text-primary relative before:left-0 before:right-0 before:bottom-0 before:h-[1px] before:bg-[#b5b2b2] before:absolute"
                                >
                                    Entrepreneurs
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="3xl:pl-[115px]">
                        <h3
                            class="font-medium text-black text-[15px] md:text-[16px] mb-[12px] md:mb-15"
                        >
                            Get Help
                        </h3>
                        <ul>
                            <li class="mb-10 md:mb-[13px] last:mb-0">
                                <a
                                    class="text-[14px] md:text-[15px] text-secondary transition-all hover:text-primary relative before:left-0 before:right-0 before:bottom-0 before:h-[1px] before:bg-[#b5b2b2] before:absolute"
                                >
                                    FAQ
                                </a>
                            </li>
                            <li class="mb-10 md:mb-[13px] last:mb-0">
                                <a
                                    class="text-[14px] md:text-[15px] text-secondary transition-all hover:text-primary relative before:left-0 before:right-0 before:bottom-0 before:h-[1px] before:bg-[#b5b2b2] before:absolute"
                                >
                                    Help Center
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="3xl:pl-[110px]">
                        <h3
                            class="font-medium text-black text-[15px] md:text-[16px] mb-[12px] md:mb-15"
                        >
                            Follow Us
                        </h3>
                        <a
                            href="https://www.facebook.com/"
                            class="leading-none mr-[12px] last:mr-0 text-[24px] inline-block text-secondary transition-all hover:text-primary"
                            target="_blank"
                        >
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a
                            href="https://twitter.com/"
                            class="leading-none mr-[12px] last:mr-0 text-[24px] inline-block text-secondary transition-all hover:text-primary"
                            target="_blank"
                        >
                            <i class="ri-twitter-fill"></i>
                        </a>
                        <a
                            href="https://www.instagram.com/"
                            class="leading-none mr-[12px] last:mr-0 text-[24px] inline-block text-secondary transition-all hover:text-primary"
                            target="_blank"
                        >
                            <i class="ri-instagram-fill"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
