<div
    class="bg-primary bg-banner bg-center bg-no-repeat bg-cover pt-[105px] md:pt-[135px] lg:pt-[165px] xl:pt-[188px] 2xl:pb-[175px] 3xl:pb-[228px] relative z-1"
>
    <div
        class="px-10 sm:px-0 2xl:px-25 3xl:px-[72px] mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[100%] 3xl:max-w-[1920px] relative"
    >
        <h1
            class="text-white font-serif text-[28px] sm:text-[40px] md:text-[50px] lg:text-[70px] xl:text-[100px] 2xl:text-[130px] 3xl:text-[160px] lg:-tracking-[1.2px] xl:-tracking-[4.2px] 2xl:-tracking-[5.2px] 3xl:-tracking-[6.4px] leading-[1] md:leading-[.93]"
        >
            <span
                class="text-[35px] sm:text-[50px] md:text-[80px] lg:text-[110px] xl:text-[140px] 2xl:text-[170px] 3xl:text-[200px] lg:-tracking-[2.2px] xl:-tracking-[4.2px] 2xl:-tracking-[8.2px] 3xl:-tracking-[8px] block mb-[8px]"
                >Online Banking</span
            >
            System For You
        </h1>
        <div
            class="mt-[15px] md:mt-[25px] lg:mt-[35px] xl:mt-[55px] 2xl:mt-80 3xl:mt-[80px] lg:pl-[8px] md:max-w-[520px] lg:max-w-[474px]"
        >
            <p
                class="text-gray font-medium text-[15px] md:text-[17px] lg:text-[19px] xl:text-[20px] mb-5 md:mb-[25px] leading-[1.6]"
            >
                M-Bank, a service that provides fast and secure online money
                transfers.
            </p>
            <a
                routerLink="/send-money"
                class="mr-15 md:mr-20 mt-15 md:mt-0 text-black bg-pastel-violet inline-block font-semibold text-[14px] md:text-[15px] rounded-full py-[10px] md:py-[11px] lg:py-[12px] px-20 md:px-[22px] border border-pastel-violet transition-all hover:bg-white hover:border-white"
            >
                Send Money Now
            </a>

            <a
                routerLink="/register"
                class="mt-15 md:mt-0 text-white inline-block font-semibold text-[14px] md:text-[15px] rounded-full py-[10px] md:py-[11px] lg:py-[12px] px-20 md:px-25 border border-[#204d64] transition-all hover:bg-white hover:border-white hover:text-black"
            >
                Open An Account
            </a>
        </div>
        <div
            class="lg:absolute lg:left-0 2xl:left-[40%] 3xl:left-[32%] lg:-bottom-[60%] 2xl:bottom-0 mt-20 md:mt-25 lg:mt-0 mb-25 lg:mb-0"
        >
            <div class="mb-[12px] md:mb-15 xl:mb-20">
                <img
                    src="assets/images/users/user1.jpg"
                    class="inline-block border-4 border-primary -mr-10 md:-mr-15 last:mr-0 w-[50px] h-[50px] md:w-[70px] md:h-[70px] rounded-full"
                    alt="user"
                />
                <img
                    src="assets/images/users/user2.jpg"
                    class="inline-block border-4 border-primary -mr-10 md:-mr-15 last:mr-0 w-[50px] h-[50px] md:w-[70px] md:h-[70px] rounded-full"
                    alt="user"
                />
                <img
                    src="assets/images/users/user3.jpg"
                    class="inline-block border-4 border-primary -mr-10 md:-mr-15 last:mr-0 w-[50px] h-[50px] md:w-[70px] md:h-[70px] rounded-full"
                    alt="user"
                />
                <img
                    src="assets/images/users/user4.jpg"
                    class="inline-block border-4 border-primary -mr-10 md:-mr-15 last:mr-0 w-[50px] h-[50px] md:w-[70px] md:h-[70px] rounded-full"
                    alt="user"
                />
            </div>
            <div
                class="text-white font-bold text-[25px] md:text-[38px] lg:text-[45px] xl:text-[48px] leading-none mb-10"
            >
                100K+
            </div>
            <span
                class="block text-white text-[14px] md:text-[15px] lg:text-[16px] font-medium"
            >
                World Wide Active User
            </span>
        </div>
    </div>
    <div class="text-right">
        <img
            src="assets/images/banners/banner1.png"
            class="inline 2xl:absolute right-0 bottom-0 pointer-events-none 2xl:max-w-[480px] 3xl:max-w-[602px]"
            alt="banner-image"
        />
    </div>
</div>
