<app-ho-banner></app-ho-banner>

<app-features></app-features>

<app-partners></app-partners>

<app-money-calculator></app-money-calculator>

<app-quote></app-quote>

<app-text-slider></app-text-slider>

<app-business-needs></app-business-needs>

<app-subscription-comparison></app-subscription-comparison>

<app-mission></app-mission>

<app-all-countries></app-all-countries>

<app-reviews></app-reviews>

<app-text-slider2></app-text-slider2>

<app-collecting-payments></app-collecting-payments>

<app-digital-banking></app-digital-banking>
