<!-- Page Title -->
<div class="pt-[105px] md:pt-[135px] lg:pt-[130px] xl:pt-[130px] bg-gray">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 xl:grid-cols-3 gap-25">
            <div class="md:col-span-2">
                <div class="xl:pl-40 2xl:pl-[98px] 2xl:mt-[45px] 3xl:mt-80">
                    <span
                        class="block text-primary text-[15px] md:text-[16px] lg:text-[20px] lg:text-[20px] font-semibold"
                    >
                        Contact Us
                    </span>
                    <h1
                        class="xl:max-w-[830px] font-bold text-black text-[25px] md:text-[35px] lg:text-[48px] xl:text-[57px] 2xl:text-[52px] 3xl:text-[57px] leading-[1.25] mt-[12px]"
                    >
                        We're More Than International Payments, Get in Touch
                    </h1>
                </div>
            </div>
            <div class="text-center">
                <img
                    src="assets/images/contact.png"
                    class="inline"
                    alt="contact-image"
                />
            </div>
        </div>
    </div>
</div>

<!-- Contact Info -->
<div class="py-60 md:py-80 lg:py-100 xl:py-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-25"
        >
            <div
                class="bg-primary rounded-lg relative pl-[95px] md:pl-[115px] xl:pl-[125px] 2xl:pl-[115px] 3xl:pl-[125px] pr-15 md:pr-25 xl:pr-[35px] 2xl:pr-25 3xl:pr-[35px] py-25 md:py-40 group"
            >
                <div
                    class="bg-[#1d4b5e] w-60 h-60 leading-[55px] md:w-70 md:h-70 md:leading-[65px] rounded-full text-center text-warning text-[35px] absolute left-15 md:left-25 xl:left-[35px] 2xl:left-25 3xl:left-[35px] top-1/2 -translate-y-2/4 transition-all group-hover:bg-warning group-hover:text-black"
                >
                    <i class="ri-map-pin-line"></i>
                </div>
                <h3
                    class="text-white text-[16px] md:text-[18px] font-medium mb-5"
                >
                    Address:
                </h3>
                <p class="text-[14px] md:text-[15px] text-white leading-[1.8]">
                    Germany
                </p>
            </div>
            <div
                class="bg-primary rounded-lg relative pl-[95px] md:pl-[115px] xl:pl-[125px] 2xl:pl-[115px] 3xl:pl-[125px] pr-15 md:pr-25 xl:pr-[35px] 2xl:pr-25 3xl:pr-[35px] py-25 md:py-40 group"
            >
                <div
                    class="bg-[#1d4b5e] w-60 h-60 leading-[55px] md:w-70 md:h-70 md:leading-[65px] rounded-full text-center text-warning text-[35px] absolute left-15 md:left-25 xl:left-[35px] 2xl:left-25 3xl:left-[35px] top-1/2 -translate-y-2/4 transition-all group-hover:bg-warning group-hover:text-black"
                >
                    <i class="ri-mail-line"></i>
                </div>
                <h3
                    class="text-white text-[16px] md:text-[18px] font-medium mb-5"
                >
                    Email Address:
                </h3>
                <p class="text-[14px] md:text-[15px] text-white leading-[1.8]">
                    <span class="block"> m-bank.com </span>
                    <span class="block"> m-bank.services.com </span>
                </p>
            </div>
            <div
                class="bg-primary rounded-lg relative pl-[95px] md:pl-[115px] xl:pl-[125px] 2xl:pl-[115px] 3xl:pl-[125px] pr-15 md:pr-25 xl:pr-[35px] 2xl:pr-25 3xl:pr-[35px] py-25 md:py-40 group"
            >
                <div
                    class="bg-[#1d4b5e] w-60 h-60 leading-[55px] md:w-70 md:h-70 md:leading-[65px] rounded-full text-center text-warning text-[35px] absolute left-15 md:left-25 xl:left-[35px] 2xl:left-25 3xl:left-[35px] top-1/2 -translate-y-2/4 transition-all group-hover:bg-warning group-hover:text-black"
                >
                    <i class="ri-phone-line"></i>
                </div>
                <h3
                    class="text-white text-[16px] md:text-[18px] font-medium mb-5"
                >
                    Phone:
                </h3>
                <p class="text-[14px] md:text-[15px] text-white leading-[1.8]">
                    <span class="block"> +49 030 030 000 </span>
                    <span class="block"> +49 020 020 000 </span>
                </p>
            </div>
            <div
                class="bg-primary rounded-lg relative pl-[95px] md:pl-[115px] xl:pl-[125px] 2xl:pl-[115px] 3xl:pl-[125px] pr-15 md:pr-25 xl:pr-[35px] 2xl:pr-25 3xl:pr-[35px] py-25 md:py-40 group"
            >
                <div
                    class="bg-[#1d4b5e] w-60 h-60 leading-[55px] md:w-70 md:h-70 md:leading-[65px] rounded-full text-center text-warning text-[35px] absolute left-15 md:left-25 xl:left-[35px] 2xl:left-25 3xl:left-[35px] top-1/2 -translate-y-2/4 transition-all group-hover:bg-warning group-hover:text-black"
                >
                    <i class="ri-cellphone-line"></i>
                </div>
                <h3
                    class="text-white text-[16px] md:text-[18px] font-medium mb-5"
                >
                    Fax:
                </h3>
                <p class="text-[14px] md:text-[15px] text-white leading-[1.8]">
                    <span class="block"> +1-02020-2-2-2 </span>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Contact Us -->
<div class="pb-60 md:pb-80 lg:pb-100 xl:pb-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 bg-gray rounded-lg">
            <div
                class="py-30 px-20 md:py-60 md:px-40 lg:py-60 lg:px-30 xl:py-50 xl:pl-50 xl:pr-0 2xl:py-80 2xl:pl-80 2xl:pr-0 self-center 2xl:-mr-20"
            >
                <h2
                    class="text-black font-bold text-[25px] md:text-[28px] lg:text-[32px] leading-[1.3] md:leading-[1.4] md:max-w-[570px] -mt-5 lg:-mt-10 mb-25 md:mb-30 lg:mb-40 xl:mb-[45px]"
                >
                    Fill in Your Information and We'll Be in Touch as Soon as We
                    Can
                </h2>
                <form>
                    <div class="mb-20">
                        <input
                            type="text"
                            class="rounded-lg h-50 md:h-60 lg:h-70 block w-full outline-0 pl-15 md:pl-25 lg:pl-[35px] text-black placeholder:text-secondary text-[14px] md:text-[15px] lg:text-[16px]"
                            placeholder="Name"
                        />
                    </div>
                    <div class="mb-20">
                        <input
                            type="text"
                            class="rounded-lg h-50 md:h-60 lg:h-70 block w-full outline-0 pl-15 md:pl-25 lg:pl-[35px] text-black placeholder:text-secondary text-[14px] md:text-[15px] lg:text-[16px]"
                            placeholder="Phone"
                        />
                    </div>
                    <div class="mb-20">
                        <input
                            type="email"
                            class="rounded-lg h-50 md:h-60 lg:h-70 block w-full outline-0 pl-15 md:pl-25 lg:pl-[35px] text-black placeholder:text-secondary text-[14px] md:text-[15px] lg:text-[16px]"
                            placeholder="Email"
                        />
                    </div>
                    <div class="mb-20">
                        <input
                            type="text"
                            class="rounded-lg h-50 md:h-60 lg:h-70 block w-full outline-0 pl-15 md:pl-25 lg:pl-[35px] text-black placeholder:text-secondary text-[14px] md:text-[15px] lg:text-[16px]"
                            placeholder="Subject"
                        />
                    </div>
                    <div class="mb-20">
                        <textarea
                            cols="30"
                            rows="6"
                            class="rounded-lg block w-full outline-0 pt-15 md:pt-20 lg:pt-[25px] pl-15 md:pl-25 lg:pl-[35px] text-black placeholder:text-secondary text-[14px] md:text-[15px] lg:text-[16px]"
                            placeholder="Message"
                        ></textarea>
                    </div>
                    <button
                        type="submit"
                        class="text-black font-semibold text-[15px] md:text-[16px] lg:text-[18px] text-center block w-full rounded-full bg-warning px-25 py-15 md:py-[17px] lg:py-20 transition-all hover:bg-primary hover:text-white"
                    >
                        Submit Now
                    </button>
                </form>
            </div>
            <div class="xl:pl-50 2xl:pl-100 self-center">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24292.204563721837!2d13.40495454644233!3d52.520008464406965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a851f8ea8fc4e5%3A0x42170a51b605b5e!2sBerlin%2C%20Germany!5e0!3m2!1sen!2sus!4v1622616693524!5m2!1sen!2sus"
                    class="w-full h-[500px] md:h-[600px] lg:h-[900px] rounded-lg"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
            </div>
        </div>
    </div>
</div>
