<div class="relative z-1 before:absolute before:left-0 before:right-0 before:bottom-0 before:h-[50%] before:bg-gray before:-z-1">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="bg-primary rounded-lg p-20 md:p-30 lg:p-[35px] xl:p-[45px]">
            <div class="grid lg:grid-cols-2 gap-25">
                <div class="text-center xl:-mr-60">
                    <img src="assets/images/payments-evolution.jpg" class="inline rounded-lg" alt="payments-evolution-image">
                </div>
                <div class="self-center relative z-1 xl:pl-70 2xl:pl-80 3xl:pl-[120px]">
                    <h2 class="font-bold text-white text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug mb-[12px] md:mb-15 lg:mb-25 lg:max-w-[480px]">
                        Tired of Paying High Card Fees
                    </h2>
                    <p class="text-[14px] md:text-[16px] lg:text-[18px] xl:text-[20px] text-white leading-[1.8] md:max-w-[550px]">
                        Join payments evolution with us. Accept bank payments that are settled in seconds.
                    </p>
                    <a routerLink="/contact" class="inline-block text-[13px] md:text-[14px] lg:text-[15px] text-black bg-warning border-warning border font-semibold py-[12px] px-30 rounded-full transition-all hover:bg-white hover:text-black hover:border-white mt-15 md:mt-20 lg:mt-40 xl:mt-80 2xl:mt-[120px] 3xl:mt-[200px]">
                        Get in touch
                    </a>
                    <img src="assets/images/cards/card3.png" class="mt-15 lg:mt-0 lg:absolute lg:-z-1 lg:right-0 lg:-bottom-[8%] lg:max-w-[120px] xl:right-[10%] 2xl:right-[5%] 3xl:right-[10%] xl:-bottom-[9%] xl:max-w-[170px] 2xl:max-w-[220px] 3xl:max-w-[280px] opacity-20" alt="card-image">
                </div>
            </div>
        </div>
    </div>
</div>