<div class="py-60 md:py-80 lg:py-100 xl:py-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-25">
            <div class="self-center relative xl:pl-[110px] md:pr-[110px] xl:pr-0 xl:-mr-55">
                <img src="assets/images/lifetime-rewards.jpg" class="rounded-[10px] md:rounded-[30px]" alt="lifetime-rewards-image">
                <div class="md:absolute right-0 xl:right-auto xl:left-0 md:top-1/2 md:-translate-y-2/4 bg-warning text-black rounded-[10px] md:rounded-[30px] px-20 py-30 md:px-30 md:py-40 lg:px-40 lg:py-50 mt-25 md:mt-0">
                    <h3 class="text-black font-medium text-[20px] md:text-[22px] lg:text-[24px] leading-none mb-15 md:mb-20 xl:mb-25">
                        Lifetime rewards
                    </h3>
                    <div class="text-[30px] md:text-[35px] lg:text-[48px] font-bold text-black leading-none">
                        $298.89
                    </div>
                </div>
            </div>
            <div class="self-center xl:pl-65 2xl:pl-100">
                <h2 class="text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] text-black font-bold md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug -mt-5 md:-mt-[8px] mb-[12px] md:mb-15 lg:mb-[18px]">
                    Extra dollars add up fast.
                </h2>
                <p class="text-[14px] md:text-[15px] lg:text-[16px] leading-[1.8] text-secondary mb-15">
                    Simply use your Arad debit card at select retailers, and your rewards will be automatically deposited into your designated “Arad Extra Savings” account. You can even add your Arad card to the digital wallet on your Apple or Google phone to tap and pay where available.
                </p>
                <p class="text-[14px] md:text-[15px] lg:text-[16px] leading-[1.8] text-secondary mb-15">
                    Standard data charges may apply. Apple Pay is a registered trademark of Apple Inc. Google Pay is a registered trademark of Google LLC.
                </p>
            </div>
        </div>
    </div>
</div>